<%= render 'existed_siblings' %>

<%= simple_form_for @tool_detail, html: { class: 'form-horizontal' } do |f| %>
  <% if @tool_detail.new_record? -%>
    <%= f.association :tool_type, collection: ToolType.order_by_category_and_name, label_method: :identification, prompt: :translate %>
    <%= f.association :tool_brand, collection: ToolBrand.all.order_by_name, label_method: :name, prompt: :translate %>
    <%= f.association :tool_supplier, collection: ToolSupplier.all, label_method: :name, prompt: :translate %>
  <% else -%>
    <%= f.association :tool_type, collection: ToolType.order_by_category_and_name, label_method: :identification, disabled: true %>
    <%= f.association :tool_brand, collection: ToolBrand.all.order_by_name, label_method: :name, disabled: true %>
    <%= f.association :tool_supplier, collection: ToolSupplier.all, label_method: :name, disabled: true %>
  <% end -%>

  <%= f.input :lifetime %>
  <%= f.input :warranty_period %>
  <%= f.input :price %>

  <div class="form-actions">
    <%= f.button :submit, t('save'), :class => 'btn btn-primary' %>
    <%= link_to t('cancel'), tool_details_path, :class => 'btn' %>
  </div>
<% end -%>
