<%= simple_nested_form_for @tool_suite, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :tool_type_category, as: :select, collection: tool_type_category_collection, prompt: :translate %>

  <table id="tool_suite_items" class="table table-hover">
    <thead>
      <th><%= ToolSuiteItem.human_attribute_name('tool_type') %></th>
      <th><%= ToolSuiteItem.human_attribute_name('quantity') %></th>
      <th><%= ToolSuiteItem.human_attribute_name('required') %></th>
      <th></th>
    </thead>
    <tbody>
      <%= f.fields_for :tool_suite_items, wrapper: false do |nf| %>
        <tr class="fields">
          <td>
            <%= nf.association :tool_type, label: false, wrapper: :inline,
              collection: ToolType.all, label_method: :identification, prompt: :translate %>
          </td>
          <td>
            <%= nf.input :quantity, label: false, wrapper: :inline, input_html: { class: 'input-mini' } %>
          </td>
          <td>
            <%= nf.input :required, label: false, wrapper: :inline, as: :radio_buttons %>
          </td>
          <td>
            <%= nf.link_to_remove t('destroy'), class: 'btn btn-small btn-danger' %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <p>
    <%= f.link_to_add '添加工具', :tool_suite_items, data: { target: '#tool_suite_items' }, class: 'btn btn-small btn-info' %>
  </p>

  <div class="form-actions">
    <%= f.button :submit, t('save'), class: 'btn btn-primary' %>
    <%= link_to t('cancel'), tool_suites_path, class: 'btn' %>
  </div>
<% end -%>
