<%= simple_form_for @storehouse, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t(:name) %>
  <%= f.input :type, label: t(:storehouse_type), collection: Storehouse::TYPES, label_method: lambda { |s| t(Storehouse::TYPE_STRINGS[s]) }, include_blank: false %>
  <%= f.association :city, collection: City.asc(:name), prompt: t('choose_city'), label: t('cities'), include_blank: false, input_html: { "data-msg-required" => t(:city_required) } %>
  <%= f.input :address, label: t(:address) %>
  <%= f.input :phone_num, label: t(:phone_num) %>
  <%= f.input :comment, label: t(:comment) %>
  <div class="form-actions">
    <%= f.button :submit, t(:ok), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                storehouses_path, :class => 'btn' %>
  </div>
<% end %>
