<%= paginate @part_to_partbatches %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'manuf_number' %></th>
      <th><%= t 'brand' %></th>
      <th><%= t 'part_type' %></th>
      <th><%= t 'remained_quantity' %></th>
      <th><%= t 'in_quantity' %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @part_to_partbatches.each do |part, partbatches| %>
      <tr id="<%= part.id %>">
        <%= render 'part', part: part, partbatches: partbatches %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @part_to_partbatches %>

<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true"></div>
