<%= paginate @partbatches %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'buy_time' %></th>
      <th><%= t 'manuf_number' %></th>
      <th><%= t 'brand' %></th>
      <th><%= t 'part_type' %></th>
      <th><%= t 'remained_quantity' %></th>
      <th><%= t 'in_quantity' %></th>
    </tr>
  </thead>
  <tbody>
    <% @partbatches.each do |pb| %>
      <tr id="<%= pb.id %>">
        <%= render 'part', pb: pb %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @partbatches %>

<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true"></div>
