<td><%= l pb.created_at %></td>
<td><%= link_to pb.part.number, part_path(pb.part), :target => '_blank' %></td>
<td><%= pb.part.part_brand.name %></td>
<td><%= pb.part.part_type.name %></td>
<td><%= pb.remained_quantity %></td>
<td><%= pb.quantity %></td>