<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-label"><%= t('storehouse_back') + ' -  ' + @storehouse.name%></h3>
    <h5 id="modal-label"><%= @part.part_type.name + ': ' + @part.part_brand.name + ' ' + @part.number %></h5>
</div>

<div class="modal-body">
  <%= form_tag inout_storehouse_path(@storehouse, part: params[:part], back: true, order: params[:order]), :method => 'post', :id => "storehouse_out"  do %>
    <p>
      <%= label_tag :remained_quantity, t('remained_quantity'), class: 'control-label' %>
      <%= number_field_tag :remained_quantity, @partbatches.sum {|x| x.remained_quantity}, class: 'control', readonly: true %>
      <%= label_tag :quantity, t('back_quantity'), class: 'control-label' %>
      <%= number_field_tag :quantity, params[:quantity], class: 'control', in: 1..(@order.part_delivered_counts[@part.id.to_s].to_i) %>
    </p>
  <% end %>
  <div id="error-div"></div>
</div>

<div class="modal-footer">
  <%= link_to t('ok'), '#',
    {:class => 'btn btn-primary', :remote => true, :id => 'partbatch_back_btn'} %>
  <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('cancel') %></button>
</div>
