<%- model_class = Storehouse -%>
<div class="pull-right">
  <% if can? :create, Partbatch %>
    <%= simple_form_for @storehouses, :method => :get, :as => 'part_statistics', :url => part_statistics_path(format: :csv), :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.button :submit, t(:export_part_statistics), :class => 'btn-info' %>
    <% end %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:storehouse_name) %></th>
      <th><%= t(:cities) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:comment) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @storehouses.each do |storehouse| %>
      <tr>
        <td><%= link_to storehouse.name, storehouse_path(storehouse) %></td>
        <td><%= link_to storehouse.city.name, storehouse.city if storehouse.city %></td>
        <td><%= storehouse.address %></td>
        <td><%= storehouse.phone_num %></td>
        <td><%= storehouse.comment %></td>
        <td>
          <%= link_to t('edit'),
                      edit_storehouse_path(storehouse), :class => 'btn btn-mini' if can? :update, storehouse %>
          <%= link_to t('dispatch_card'), print_dispatch_card_path(storehouse), :class => 'btn btn-info btn-mini', :target => '_blank' if can? :print_dispatch_card, storehouse %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new_storehouse'),
            new_storehouse_path,
            :class => 'btn btn-primary' %>
