<%- model_class = Storehouse -%>
<div class="pull-right">
  <% if can? :create, Partbatch %>
    <%= simple_form_for @storehouses, :method => :get, :as => 'part_statistics', :url => part_statistics_path(format: :csv), :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.button :submit, t(:export_part_statistics), :class => 'btn-info' %>
    <% end %>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:storehouse_name) %></th>
      <th><%= t(:cities) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:comment) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @storehouses.each do |storehouse| %>
      <tr>
        <td><%= link_to storehouse.name, storehouse_path(storehouse) %></td>
        <td><%= link_to storehouse.city.name, storehouse.city if storehouse.city %></td>
        <td><%= storehouse.address %></td>
        <td><%= storehouse.phone_num %></td>
        <td><%= storehouse.comment %></td>
        <td>
          <%= link_to t('edit'),
                      edit_storehouse_path(storehouse), :class => 'btn btn-mini' if can? :update, storehouse %>
          <% if can? :print_dispatch_card, storehouse %>
          <a href="#" class="btn btn-info btn-mini" data-target="#print-dispatch-<%= storehouse.id %>" data-toggle="modal"><%= t(:dispatch_card) %></a>
          <div id="print-dispatch-<%= storehouse.id %>" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true" style="">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="modal-label"><%= t(:dispatch_card_opts) %></h3>
            </div>
            <div class="modal-body">
            <%= form_tag print_dispatch_card_path(storehouse), :method => 'get', :class => 'form-horizontal' do %>
              <div class="control-group">
                <%= label_tag :start_time, t(:serve_datetime_segment), class: 'control-label' %>
                <div class="controls form-inline" id="start_time">
                  <div class="form-inline input-append form_datetime">
                    <input data-format="yyyy-MM-dd hh:mm" type="text" name="start_time" value="<%= (DateTime.now.hour <= 12 ? Date.today.beginning_of_day : Date.tomorrow.beginning_of_day).strftime("%Y-%m-%d %H:%M") %>"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
                </div>
                <div class="control-group">
                  <%= label_tag :end_time, t(:to), class: 'control-label' %>
                  <div class="controls form-inline" id="end_time">
                    <div class="form-inline input-append form_datetime">
                      <input data-format="yyyy-MM-dd hh:mm" type="text" name="end_time" value="<%= Date.tomorrow.end_of_day.strftime("%Y-%m-%d %H:%M") %>"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls form-inline">
                    <%= submit_tag t(:ok), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('close') %></button>
            </div>
          </div>
          <% end %>
        
          <a href="#" class="btn btn-info btn-mini" data-target="#print-orders-<%= storehouse.id %>" data-toggle="modal"><%= t(:orders_card) %></a>
          <div id="print-orders-<%= storehouse.id %>" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true" style="">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="modal-label"><%= t(:order_card_opts) %></h3>
            </div>
            <div class="modal-body">
            <%= form_tag print_orders_card_path(storehouse), :method => 'get', :class => 'form-horizontal' do %>
              <div class="control-group">
                <%= label_tag :start_time, t(:serve_datetime_segment), class: 'control-label' %>
                <div class="controls form-inline" id="start_time">
                  <div class="form-inline input-append form_datetime">
                    <input data-format="yyyy-MM-dd hh:mm" type="text" name="start_time" value="<%= Date.tomorrow.beginning_of_day.strftime("%Y-%m-%d %H:%M") %>"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
                </div>
                <div class="control-group">
                  <%= label_tag :end_time, t(:to), class: 'control-label' %>
                  <div class="controls form-inline" id="end_time">
                    <div class="form-inline input-append form_datetime">
                      <input data-format="yyyy-MM-dd hh:mm" type="text" name="end_time" value="<%= Date.tomorrow.end_of_day.strftime("%Y-%m-%d %H:%M") %>"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls form-inline">
                    <%= submit_tag t(:ok), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('close') %></button>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new_storehouse'),
            new_storehouse_path,
            :class => 'btn btn-primary' %>
