<%- model_class = Storehouse -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:storehouse_name) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:created_at) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @storehouses.each do |storehouse| %>
      <tr>
        <td><%= link_to storehouse.name, storehouse_path(storehouse) %></td>
        <td><%= storehouse.address %></td>
        <td><%= storehouse.phone_num %></td>
        <td><%=l storehouse.created_at %></td>
        <td>
          <%= link_to t('edit'),
                      edit_storehouse_path(storehouse), :class => 'btn btn-mini' if can? :update, storehouse %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new_storehouse'),
            new_storehouse_path,
            :class => 'btn btn-primary' %>
