<div class="page-header">
  <h1><%= params[:sunhao].to_i == 1 ? t(:sunhao) : t(:yingyu) %><%=' - ' %><span id="storehouse_name"><%= @storehouse.name %></span></h1>
</div>

<div>
  <%= form_tag storehouse_do_part_yingyusunhao_path(@storehouse), :method => 'post', :id => "storehouse_part_yingyusunhao", :class => "form-horizontal", :remote => true do %>
    <input type="hidden" id="storehouse_id" value="<%= @storehouse.id %>"/>
    <input type="hidden" id="sunhao" name="sunhao" value="<%= params[:sunhao] %>"/>
    <div class="control-group">
      <label for="search-part-number" class="control-label"><%= t(:number_query) %></label>
      <div class="controls" id="search-part-number">
        <%= render 'partbatches/part_number_search' %>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :part_part_brand_id, t('choose_brand_and_number'), class: 'control-label' %>
      <div class="controls">
        <%= collection_select :part, :part_brand_id, PartBrand.desc(:name), :id, :name, {}, {:rel => "/part_brands", :class => 'control form-inline'} %>
        <%= collection_select :part, :id, PartBrand.desc(:name).first.parts, :id, :number, {}, {:rel => "/parts", :class => 'control form-inline'} %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :remained_quantity, t('remained_quantity'), class: 'control-label' %>
      <div class="controls">
        <%= number_field_tag :remained_quantity, @remained_quantity, class: 'control', readonly: true %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :quantity, (params[:sunhao].to_i == 1 ? t(:sunhao) : t(:yingyu)) + t(:quantity), class: 'control-label' %>
      <div class="controls">
        <%= number_field_tag :quantity, params[:quantity], class: 'control', in: 1..(params[:sunhao].to_i == 1 ? @remained_quantity : 999), required: true %>
      </div>
    </div>
    
    <div class="form-actions">
      <% if params[:sunhao].to_i == 0 || @remained_quantity > 0 %>
        <input type="submit" id="part-transfer-btn" value="<%= t(:ok) %>" class="btn btn-primary"/>
      <% else %>
        <input type="submit" id="part-transfer-btn" value="<%= t(:ok) %>" class="btn btn-disabled" disabled/>
      <% end %>
      <%= link_to t('cancel'), storehouse_path(@storehouse), :class => 'btn' %>
    </div>
  <% end %>
</div>
<div class="hide" id="confirm_part_yingyusunhao_msg"><%= (params[:sunhao].to_i == 1 ? t(:sunhao) : t(:yingyu)) %></div>