<%- model_class = Storehouse -%>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t(:search_by_part) %></a></li>
    <div class="pull-right">
      <% if can? :create, Partbatch %>
        <%= link_to new_storehouse_partbatches_path(@storehouse), :class => 'btn btn-success', :target => '_blank' do %>
          <i class="icon-plus-sign"></i>&nbsp<%= t('storehouse_in') %>
        <% end %>
        <%= link_to storehouse_part_transfer_path(@storehouse), :class => 'btn btn-success', :target => '_blank' do %>
          <i class="icon-arrow-right"></i>&nbsp<%= t('part_transfer') %>
        <% end %>
        <%= link_to t(:export), storehouse_path(@storehouse, format: :csv), :class => 'btn btn-info' %>
      <% end %>
    </div>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= form_tag @storehouse, :method => 'get', :id => "partbatches_search_by_part", :class => 'form-inline' do %>
      <div class="controls">
        <%= render 'partbatches/part_number_search' %>
        <%= submit_tag t(:submit), class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="partbatches"><%= render 'partbatches' %></div>

<h4><%= t(:op_history) %></h4>
<div class="well">
  <div id="history_trackers"><%= render 'history' %></div>
</div>
