<h1>Listing tool_records</h1>

<table>
  <tr>
    <th>Engineer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tool_records.each do |tool_record| %>
  <tr>
    <td><%= tool_record.engineer_name %></td>
    <td><%= link_to 'Show', tool_record %></td>
    <td><%= link_to 'Edit', edit_tool_record_path(tool_record) %></td>
    <td><%= link_to 'Destroy', tool_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tool record', new_tool_record_path %>
