<%= simple_form_for @tool_type, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :spec %>
  <%= f.input :category, collection: ToolType::CATEGORIES.map(&:to_sym), prompt: :translate %>
  <%= f.input :unit %>

  <div class="form-actions">
    <%= f.button :submit, t('save'), :class => 'btn btn-primary' %>
    <%= link_to t('cancel'), tool_types_path, :class => 'btn' %>
  </div>
<% end -%>
