<ul class="nav nav-tabs">
  <% if can? :read, :tool_base_info -%>
    <li class="dropdown <%= 'active' if %w[tool_types tool_details tool_brands tool_suppliers service_vehicles].include?(params[:controller]) %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        基础信息
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to ToolType.model_name.human, tool_types_path %></li>
        <li><%= link_to ToolBrand.model_name.human, tool_brands_path %></li>
        <li><%= link_to ToolSupplier.model_name.human, tool_suppliers_path %></li>
        <li class="divider"></li>
        <li><%= link_to ToolDetail.model_name.human, tool_details_path %></li>
        <li class="divider"></li>
        <li><%= link_to ServiceVehicle.model_name.human, service_vehicles_path %></li>
      </ul>
    </li>
  <% end -%>

  <%= activatable_nav_link 'tool_batch', tool_batches_path if can? :read, ToolBatch %>

  <% if current_user.storehouse_admin? -%>
    <%= activatable_nav_link 'tool_delivery', tool_deliveries_path, link_text: '收货信息' if can? :read, ToolDelivery %>
  <% else -%>
    <%= activatable_nav_link 'tool_delivery', tool_deliveries_path if can? :read, ToolDelivery %>
  <% end -%>

  <% if can? :inspect, :tool_statistics -%>
    <li class="dropdown <%= 'active' if %w[tool_statistics].include?(params[:controller]) %>">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        工具统计
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to '汇总信息', '#' %></li>
        <li class="divider"></li>
        <li><%= link_to '库存统计', tool_statistics_path %></li>
      </ul>
    </li>
  <% end -%>

  <%= activatable_nav_link 'tool_stock', tool_stocks_path if can? :read, ToolStock %>

  <%= activatable_nav_link 'tool_assignee', tool_assignees_path,
    link_text: t('mongoid.attributes.tool_assignment.assignment_group') if can? :read, ToolAssignment %>

  <%= activatable_nav_link 'tool_assignment', tool_assignments_path(status: 'discarded'),
    link_text: t('mongoid.attributes.tool_assignment.discarded') if can? :read, ToolAssignment %>

  <%= activatable_nav_link 'engineer', my_tool_assignments_engineers_path,
    link_text: t('mongoid.attributes.tool_assignment.my_tool_assignments') if can? :read_and_discard, :my_tool_assignments %>

  <%= activatable_nav_link 'service_vehicle', local_service_vehicles_path,
    link_text: ServiceVehicle.human_attribute_name('local'),
    action: 'local' if can? :read_and_discard, :local_vehicle_tool_assignments %>
</ul>
