<tr>
  <td><%= tool_type.identification %></td>
  <td><%= translate_collection_options(tool_type, :category) %></td>
  <td><%= tool_type.unit %></td>
  <td>
    <%= link_to t('edit'), edit_tool_type_path(tool_type),
      class: 'btn btn-small btn-primary' if can? :update, ToolType %>
    <%= link_to t('destroy'), tool_type_path(tool_type),
      method: 'delete', confirm: t('destroy_confirm'),
      class: 'btn btn-small btn-danger' if can? :destroy, ToolType %>
  </td>
</tr>
