<h1>Listing tool_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tool_types.each do |tool_type| %>
  <tr>
    <td><%= tool_type.name %></td>
    <td><%= link_to 'Show', tool_type %></td>
    <td><%= link_to 'Edit', edit_tool_type_path(tool_type) %></td>
    <td><%= link_to 'Destroy', tool_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tool type', new_tool_type_path %>
