<%= simple_nested_form_for @maintain, :html => { class: "form-horizontal" } do |f| %>
  <h5 id="basic_infos"><%= t(:basic_infos) %></h5>
    <div class="control-group required">
      <label for="order_seq" class="control-label"><%= t(:order_id) %></label>
      <div class="controls form-inline" >
        <input type="text" class="numeric required" id="order_seq" name="order_seq" data-msg-required="<%= t(:order_seq_not_empty) %>" value="<%= Order.find(@maintain.order_id).seq if !@maintain.order_id.nil? %>"/>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
        <lable id="order_not_exist" hidden><strong><%= t(:order_not_exist)%></strong></lable>    
      </div>
      <% if @maintain.order_id.nil? %>
        <input type="hidden" id="order_id" name="maintain[order_id]"/>
      <% end %>
    </div>
    <%= f.input :auto_color, label: t(:auto_color) %>
    <%= f.input :buy_date, as: :date_picker, label: t(:buy_date) %>
    <%= f.input :VIN, label: t(:VIN) %>
  <h5 id="maintain_data"><%= t(:maintain_data) %></h5>
    <%= f.input :curr_km, label: t(:curr_km) %>
    <%= f.input :next_maintain_km, label: t(:next_maintain_km) %>
    <%= f.input :last_km, label: t(:last_km) %>
    <%= f.input :air_filter_desc, label: t(:air_filter_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::FILTER_STRINGS[s]) }, include_blank: false %>
    <%= f.input :cabin_filter_desc, label: t(:cabin_filter_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::FILTER_STRINGS[s]) }, include_blank: false %>
    <%= f.input :oil_desc, label: t(:old_oil_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::OIL_STRINGS[s]) }, include_blank: false %>
    <%= f.input :oil_out, label: t(:oil_out) %>
    <%= f.input :oil_in, label: t(:oil_in) %>
    <%= f.input :outlook_desc, label: t(:outlook_desc), collection: t(:outlook_descs).split, include_blank: false %>
  <h5 id="other_oil_info"><%= t(:other_oil_info) %></h5>
    <%= f.input :brake_oil_desc, label: t(:brake_oil_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::OTHER_OIL_STRINGS[s]) }, include_blank: false %>
    <%= f.input :brake_oil_position, label: false, collection: 0..3, label_method:  lambda { |s| t(Maintain::POSITION_STRINGS[s]) }, include_blank: false %>
    <%= f.input :antifreeze_desc, label: t(:antifreeze_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::OTHER_OIL_STRINGS[s]) }, include_blank: false %>
    <%= f.input :antifreeze_position, label: false, collection: 0..3, label_method:  lambda { |s| t(Maintain::POSITION_STRINGS[s]) }, include_blank: false %>
    <%= f.input :steering_oil_desc, label: t(:steering_oil_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::OTHER_OIL_STRINGS[s]) }, include_blank: false %>
    <%= f.input :steering_oil_position, label: false, collection: 0..3, label_method:  lambda { |s| t(Maintain::POSITION_STRINGS[s]) }, include_blank: false %>
    <%= f.input :gearbox_oil_desc, label: t(:gearbox_oil_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::OTHER_OIL_STRINGS[s]) }, include_blank: false %>
    <%= f.input :gearbox_oil_position, label: false, collection: 0..3, label_method:  lambda { |s| t(Maintain::POSITION_STRINGS[s]) }, include_blank: false %>
    <%= f.input :brake_oil_boiling_point, label: t(:brake_oil_boiling_point), collection: 1..4, include_blank: false %>
    <%= f.input :antifreeze_freezing_point, label: t(:antifreeze_freezing_point), collection: [-30, -35, -40, -45], include_blank: false %>
  <h5 id="wiper_and_tool_info"><%= t(:wiper_and_tool_info) %></h5>
    <%= f.input :front_wiper_desc, label: t(:front_wiper_desc), collection: 0..1, label_method:  lambda { |s| t(Maintain::WIPER_STRINGS[s]) }, include_blank: false %>
    <%= f.input :back_wiper_desc, label: t(:back_wiper_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::WIPER_STRINGS[s]) }, include_blank: false %>
    <%= f.input :extinguisher_desc, label: t(:extinguisher_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::AUTO_TOOLS_STRINGS[s]) }, include_blank: false %>
    <%= f.input :warning_board_desc, label: t(:warning_board_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::AUTO_TOOLS_STRINGS[s]) }, include_blank: false %>
    <%= f.input :spare_tire_desc, label: t(:spare_tire_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::AUTO_TOOLS_STRINGS[s]) }, include_blank: false %>
    <%= f.input :glass_water_desc, label: t(:glass_water_desc), collection: 0..1, label_method:  lambda { |s| t(Maintain::GLASS_WATER_STRINGS[s]) }, include_blank: false %>
  <h5 id="brake_pad_thickness"><%= t(:brake_pad_thickness) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% thickness = @maintain.wheels.where(name: wn).first.brake_pad_thickness %>
      <% else %>
        <% thickness = 0 %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls">
          <select class="select required" name="<%= "maintain[wheels_attributes][" + k.to_s + "][brake_pad_thickness]" %>">
            <%= options_for_select([12,10,8,6,5,4,3,2], selected: thickness.to_i) %>
          </select>
        </div>    
      </div>
    <% end %>
  <h5 id="brake_disc_desc"><%= t(:brake_disc_desc) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% brake_disc_desc = @maintain.wheels.where(name: wn).first.brake_disc_desc %>
      <% else %>
        <% brake_disc_desc = [] %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls form-inline">
          <% [0,1,2,3].each do |v| %>
            <label class="checkbox">
              <% if brake_disc_desc.include?(v) %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][brake_disc_desc][]" %>" type="checkbox" value="<%= v %>" checked/>
              <% else %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][brake_disc_desc][]" %>" type="checkbox" value="<%= v %>" />
              <% end %>
              <%= t(Wheel::BRAKE_DISC_STRINGS[v]) %>
            </label>
          <% end %>
        </div>    
      </div> 
    <% end %>
  <h5 id="battery_info"><%= t(:battery_info) %></h5>
    <%= f.input :battery_charge, label: t(:battery_charge), collection: {"良"=>"90%","不良"=>"50%"}, include_blank: false%>
    <%= f.input :battery_health, label: t(:battery_health), collection: ["60%","70%","80%","90%"], include_blank: false %>
    <%= f.input :battery_desc, label: t(:battery_desc), collection: 0..3, label_method:  lambda { |s| t(Maintain::BATTERY_STRINGS[s]) }, include_blank: false %>
    <%= f.input :battery_light_color, label: t(:battery_light_color), collection: Maintain::BATTERY_LIGHT_COLOR_STRINGS, label_method:  lambda { |s| t(s) }, include_blank: false %>
    <%= f.input :battery_head_desc, label: t(:battery_head_desc), collection: 0..2, label_method:  lambda { |s| t(Maintain::BATTERY_HEAD_STRINGS[s]) }, include_blank: false %>
  <h5 id="brand"><%= t(:brand) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% brand = @maintain.wheels.where(name: wn).first.brand %>
      <% else %>
        <% brand = "" %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls">
          <select class="select required" name="<%= "maintain[wheels_attributes][" + k.to_s + "][brand]" %>">
            <%= options_for_select(t(:wheel_brands).split, selected: brand)%>
          </select>
        </div>    
      </div> 
    <% end %>
  <h5 id="factory_data"><%= t(:factory_data_and_ageing_desc) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% factory_data = @maintain.wheels.where(name: wn).first.factory_data %>
        <% ageing = @maintain.wheels.where(name: wn).first.ageing_desc %>
      <% else %>
        <% factory_data = "" %>
        <% ageing = -1 %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls">
          <input type="text" name="<%= "maintain[wheels_attributes][" + k.to_s + "][factory_data]" %>" value="<%= factory_data %>" placeholder="<%= t(:week_and_year)%>">
          <select class="select required" name="<%= "maintain[wheels_attributes][" + k.to_s + "][ageing_desc]" %>">
            <%= options_for_select([["轻微",0],["严重",2]], selected: ageing) %>
          </select>
        </div>    
      </div> 
    <% end %>
  <h5 id="pressure"><%= t(:pressure) %></h5>
    <% Wheel::NAME_STRINGS_WIHT_SPARE.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% pressure = @maintain.wheels.where(name: wn).first.pressure %>
      <% else %>
        <% pressure = 0 %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls">
          <select class="select required" name="<%= "maintain[wheels_attributes][" + k.to_s + "][pressure]" %>">
            <%= options_for_select([["正常",2.3],["低",1.9],["偏低",1.8],["高",2.6],["偏高",2.7]], selected: pressure) %> 
          </select>
        </div>
        <input type="hidden" name="<%= "maintain[wheels_attributes][" + k.to_s + "][name]" %>" value="<%= wn %>"/>
      </div> 
    <% end %>
  <h5 id="tread_depth"><%= t(:tread_depth) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% tread_depth = @maintain.wheels.where(name: wn).first.tread_depth %>
      <% else %>
        <% tread_depth = "" %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls">
          <input type="text" name="<%= "maintain[wheels_attributes][" + k.to_s + "][tread_depth]" %>" value=<%= tread_depth %>>
        </div>    
      </div> 
    <% end %>
  <h5 id="tread_desc"><%= t(:tread_desc) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% tread_desc = @maintain.wheels.where(name: wn).first.tread_desc %>
      <% else %>
        <% tread_desc = [] %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls form-inline">
          <% [0,1,2,3,4].each do |v| %>
            <label class="checkbox">
              <% if tread_desc.include?(v) %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][tread_desc][]" %>" type="checkbox" value="<%= v %>" checked/>
              <% else %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][tread_desc][]" %>" type="checkbox" value="<%= v %>" />
              <% end %>
              <%= t(Wheel::TREAD_STRINGS[v]) %>
            </label>
          <% end %>
        </div>    
      </div>
    <% end %>
  <h5 id="sidewall_desc"><%= t(:sidewall_desc) %></h5>
    <% Wheel::NAME_STRINGS.each do |k, wn| %>
      <% if !@maintain.wheels.blank? && @maintain.wheels.where(name: wn).exists? %>
        <% sidewall_desc = @maintain.wheels.where(name: wn).first.sidewall_desc %>
      <% else %>
        <% sidewall_desc = [] %>
      <% end %>
      <div class="control-group required">
        <label class="control-label"><%= t(wn) %></label>
        <div class="controls form-inline">
          <% [0,1,2,3,4,5].each do |v| %>
            <label class="checkbox">
              <% if sidewall_desc.include?(v) %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][sidewall_desc][]" %>" type="checkbox" value="<%= v %>" checked/>
              <% else %>
                <input class="check_boxes optional" name="<%= "maintain[wheels_attributes][" + k.to_s + "][sidewall_desc][]" %>" type="checkbox" value="<%= v %>" />
              <% end %> 
            <%= t(Wheel::SIDEWALL_STRINGS[v]) %>
            </label>
          <% end %>
        </div>    
      </div> 
    <% end %>
  <h5 id="lights_info"><%= t(:lights_info) %></h5>
    <% id = 0 %>
    <% Light::NAME_STRINGS.each do |ln| %>
      <% if !@maintain.lights.blank? && @maintain.lights.where(name: ln).exists? %>
        <% desc = @maintain.lights.where(name: ln).first.desc %>
      <% else %>
        <% desc = [] %>
      <% end %>
      <div class="control-group required">
        <label for="order_seq" class="control-label"><%= t(ln) %></label>
        <div class="controls form-inline">
          <% [0,2].each do |v| %>
            <label class="checkbox">
              <% if desc.include?(v) %>
                <input class="check_boxes optional" name="<%= "maintain[lights_attributes][" + id.to_s + "][desc][]" %>" type="checkbox" value="<%= v %>" checked/>
              <% else %>  
                <input class="check_boxes optional" name="<%= "maintain[lights_attributes][" + id.to_s + "][desc][]" %>" type="checkbox" value="<%= v %>" />
              <% end %>
            <%= t(Light::DESC_STRINGS[v]) %>
            </label> 
          <% end %>
          <input type="hidden" name="<%= "maintain[lights_attributes][" + id.to_s + "][name]" %>" value="<%= ln %>"/>
        </div>
      </div>
      <% id += 1 %>
    <% end %>
  <div class="form-actions">
    <%= f.button :submit, t(:save), :class => 'btn-primary' %>
    <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
  </div>
<% end %>
<script type="text/javascript">
  $("#order_seq").blur(function(){
    if($(this).val() != ""){
      $.getScript("<%= order_seq_check_path %>" + "?seq=" + $(this).val());
    }
  });
</script>  