<%= paginate @parts, remote: true %>
<p><strong><%= t('total', count: @total_parts.count )%></strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'manuf_number' %></th>
      <th><%= t 'brand' %></th>
      <th><%= t 'part_type' %></th>
      <th><%= t 'price' %></th>
      <th><%= t 'total_remained_quantity' %></th>
      <th><%= t 'equal_parts' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% colors = %w[success error info warning] %>
    <% @parts.each_with_index do |part, i| %>
      <tr class="<%= colors[ i % colors.length] %>" id="tr-<%= part.id %>">
        <%= render 'part_match_row', part: part %>
      </tr>
      <tr>
          <td class="td-part-match-form" colspan="14" style="display: none;" id="td-<%= part.id.to_s %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @parts, remote: true %>
<p><strong><%= t('total', count: @total_parts.count )%></strong></p>