<%= paginate @parts %>
<%= simple_form_for parts_path, method: :get, remote: true, :html => { :class => 'form-inline', :id => 'page-num-form' } do |f| %>
  <span><%= t(:di) %></span><input type="text" class="input-mini" name="page" placeholder="<%= t(:page_num) %>" value="<%= params[:page] %>"/><span><%= t(:page) %></span>
<% end %>
<p><strong><%= t('total', count: @parts.count )%></strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'manuf_number' %></th>
      <th><%= t 'brand' %></th>
      <th><%= t 'part_type' %></th>
      <th><%= t 'applicable_auto_submodels' %></th>
      <th><%= t 'buy_price_history' %></th>
      <th><%= t 'sell_price_history' %></th>
      <th><%= t 'capacity' %></th>
      <th><%= t 'spec' %></th>
      <th><%= t 'urls' %></th>
      <th><%= t 'update_time' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% colors = %w[success error info warning] %>
    <% i = 0 %>
    <% @parts.each do |part| %>
      <tr class="<%= colors[ i % colors.length] %>">
      <% i += 1 %>
        <td><%= link_to part.number, part_path(part), :target => '_blank' %></td>
        <td><%= link_to part.part_brand.name, part_brand_path(part.part_brand), :target => '_blank' %></td>
        <td><%= link_to part.part_type.name, part_type_path(part.part_type), :target => '_blank' %></td>
        <td>
          <%= t('total_models', count: part.auto_submodels.count) %>&nbsp
          <%= link_to t('edit_part_automodel'), edit_part_automodel_path(part), :class => 'btn btn-mini pull-right', :target => '_blank' if can? :update, part %>
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <th><%= t 'storehouse' %></th>
                <th><%= t 'buy_price' %></th>
                <th><%= t 'quantity' %></th>
              </tr>
            </thead>
            <tbody>
            <% part.partbatches.each do |pb| %>
              <tr>
                <td><%= pb.storehouse.name %></td>
                <td><%= humanized_money_with_symbol pb.price %>
                <td><%= pb.quantity %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </td>
        <td><%= humanized_money_with_symbol part.price if part.price %></td>
        <td><%= part.capacity.to_s + ' ' + part.part_type.unit %></td>
        <td><%= part.spec %></td>
        <td id="<%= part.id %>_urls">
          <%= render 'urlinfo', part: part %>
        </td>
        <td><%= l part.updated_at %></td>
        <td>
          <%= link_to t('edit'), edit_part_path(part), :class => 'btn btn-mini', :target => '_blank' if can? :update, part %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @parts %>
<p><strong><%= t('total', count: @parts.count )%></strong></p>