<%- model_class = Part -%>
<div class="page-header">
  <%= link_to t('new_part'), new_part_path, :class => 'btn btn-primary pull-right' %>
  
  <%= form_tag parts_path, :method => 'get', :id => "parts_search", :class => 'form-inline' do %>
    <%= collection_select :part_search, :type_id, PartType.all, :id, :name, {:include_blank => t(:all_part_types)}, {:rel => part_types_path, :class => 'control'} %>
    <%= collection_select :part_search, :brand_id, PartBrand.all, :id, :name, {:include_blank => t(:all_part_brands)}, {:rel => part_brands_path, :class => 'control'} %>
    <%= label_tag :search, t('part_number'), class: 'control-label' %>
    <%= text_field_tag :search, params[:search], class: 'control' %>
    <%= image_tag "ajax-loader.gif", :class => "loading-indicator", :style => "display: none;"%>
  <% end %>
  <div id="parts"><%= render 'parts' %></div>
</div>

