<%= simple_nested_form_for @service_type, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t(:service_name) %>
  <%= f.input :price, label: t('price')%>
  <%= f.input :specific_auto_model, label: t(:specific_auto_model), as: :boolean %>
  <div id="service_type_auto_model_div">
    <div class="control-group select">
      <%= label_tag :auto_model_brand_id, t('choose_brand'), class: 'control-label' %>
      <div class="controls">
        <%= collection_select :auto_model, :brand_id, AutoBrand.all, :id, :name, { :selected => @service_type.auto_model.auto_brand.id }, {:rel => "/auto_brands", :class => 'control'}  %>
      </div>
    </div>
    <%= f.association :auto_model, label: t(:auto_model), collection: @service_type.auto_model.auto_brand.auto_models, label_method: :name, selected: @service_type.auto_model.id, include_blank: false %>
</div>

  <div class="form-actions">
    <%= f.button :submit, t(:save), :class => 'btn-primary' %>
    <%= link_to t('cancel'),
                service_types_path, :class => 'btn' %>
  </div>
<% end %>
