<%= simple_nested_form_for @service_type, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t(:service_name) %>
  <%= f.input :price, label: t('price')%>
  <%= f.input :specific_auto_model, label: t(:specific_auto_model), as: :boolean %>
  <div id="service_type_auto_model_div">
    <%= f.association :auto_brand, label: t(:choose_brand), collection: AutoBrand.where(data_source: 2).asc(:name_pinyin), label_method: :name, include_blank: false, input_html: {:rel => "/auto_brands", :data => {:source => 2}} %>
    <% if @service_type.auto_brand %>
      <%= f.association :auto_model, label: t(:auto_model), collection: @service_type.auto_brand.auto_models, label_method: :name, include_blank: t(:all_models) %>
    <% else %>
      <%= f.association :auto_model, label: t(:auto_model), collection: AutoBrand.where(data_source: 2).asc(:name_pinyin).first.auto_models, label_method: :name, include_blank: t(:all_models) %>
    <% end %>
</div>

  <div class="form-actions">
    <%= f.button :submit, t(:save), :class => 'btn-primary' %>
    <%= link_to t('cancel'),
                service_types_path, :class => 'btn' %>
  </div>
<% end %>
