<%- model_class = ServiceType -%>
<div class="page-header">
  <h1><%=t 'service_types' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:sell_price) %></th>
      <th><%= t(:applicable_auto_models) %></th>
      <th><%= t(:created_at) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @service_types.each do |service_type| %>
      <tr>
        <td><%= link_to service_type.name, service_type_path(service_type) %></td>
        <td><%= humanized_money_with_symbol service_type.price %></td>
        <td>
          <% if service_type.specific_auto_model %>
            <%= link_to service_type.auto_brand.name, service_type.auto_brand if service_type.auto_brand %>
            <%= link_to service_type.auto_model.name, service_type.auto_model if service_type.auto_model %>
          <% else %>
            <%= t(:all) %>
          <% end %>
        </td>
        <td><%=l service_type.created_at %></td>
        <td>
          <%= link_to t('edit'),
                      edit_service_type_path(service_type), :class => 'btn btn-mini' if can? :update, service_type %>
          <%= link_to t('destroy'),
                      service_type_path(service_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if can? :destroy, service_type %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('create_service_type'),
            new_service_type_path,
            :class => 'btn btn-primary' if can? :create, ServiceType  %>
