<%= simple_nested_form_for @complaint, :html => { class: "form-horizontal" } do |f| %>
  <% if !params[:add_comment] && !params[:handle] || params[:edit_all] %>
    <div class="control-group required">
      <label for="complaint_phone_num" class="control-label"><%= t(:phone_num) %></label>
      <div class="controls form-inline">
        <%= f.input_field :customer_phone_num, :class => 'numeric', :numeric => '', minlength: "8", maxlength: "13", "data-msg-required" => t(:phone_num_required), "data-msg-minlength" => t(:phone_num_minlength), "data-msg-maxlength" => t(:phone_num_minlength) %>
        <%= link_to t(:search_order_history), orders_path, :class => 'btn', :id => 'search-by-phone-num' %>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
    </div>
    <div id="order-list-by-phone-num" class="order-list"></div>

    <div class="control-group required">
      <label for="order_seq" class="control-label"><%= t(:order_id) %></label>
      <div class="controls form-inline" >
        <%= f.input_field :order_seq, :autocomplete => "off", :value => (@complaint.order ? @complaint.order.seq : '') %>
      </div>
    </div>
    <%= f.input :customer_name, label: t(:customer_name) %>
    <%= f.association :city, collection: City.asc(:name), prompt: t('choose_city'), label: t('cities'), include_blank: false, input_html: { "data-msg-required" => t(:city_required) } %>
    <div class="control-group required">
      <label for="complaint_role" class="control-label"><%= t(:role) %></label>
      <div class="controls form-inline" >
        <select class="select required" name="complaint[role]" id="complainted_role">
        <option></option>
        <% %w[storehouse_admin engineer dispatcher].each do |s| %>
          <% if @complaint.complained && @complaint.complained.roles.include?(User::ROLE_STRINGS.index(s).to_s) %>
            <option value="<%= User::ROLE_STRINGS.index(s) %>" selected><%= t(s) %></option>
          <% else %>
            <option value="<%= User::ROLE_STRINGS.index(s) %>" ><%= t(s) %></option>
          <% end %>
        <% end %>
        </select>
      </div>
    </div>
    <%= f.association :complained, collection: User.asc(:name_pinyin), label: t('complained'), label_method: :initial_and_name %>
    <%= f.association :tag, collection: Tag.where(:type => 1), label: t('complaint_tag') %>
    <%= f.association :creater, collection: User.asc(:name_pinyin), label: t('creater'), label_method: :initial_and_name, readonly: true  if !["new"].include? params[:action] %>
    <%= f.association :handler, collection: User.asc(:name_pinyin), label: t('handler'), label_method: :initial_and_name %>
    <%= f.input :severity_level, label: t(:severity_level), collection: Complaint::SEVERITY_LEVELS, label_method: lambda {|s| t(Complaint::SEVERITY_LEVEL_STRINGS[s])}, include_blank: false %>
    <%= f.input :source, label: t(:source), collection: t(:complaint_source).split, include_blank: false %>
    <%= f.input :detail, label: t(:complaint_detail), as: :text, :input_html => { :cols => 50, :rows => 4, :placeholder => t(:complaint_detail) } %>
    <%= render 'orders/comments', :f => f %>
    <div class="form-actions">
      <%= f.button :submit, t(:save), :class => 'btn-primary' %>
      <%= link_to t('cancel'), complaints_path, :class => 'btn' %>
    </div>
  <% elsif params[:add_comment] %>
    <%= render 'orders/comments', :f => f %>
    <div class="form-actions">
      <%= f.button :submit, t(:save), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% elsif params[:handle] %>
    <%= f.input :handled_result, label: t(:handled_result), as: :text, :input_html => { :cols => 50 , :rows => 3, :placeholder => t(:handled_result) } %>
    <div class="form-actions">
      <%= f.button :submit, t(:handle), :class => 'btn-primary', name: "handle" %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% end %>
<% end %>
