<%- model_class = Complaint -%>
<div class="page-header">
  <h4>
  <%= t(:complaints) %>
  <% if params[:state].present? %>
    <%= ' - ' + t(Complaint::STATE_STRINGS[params[:state].to_i])  %>
  <% end %>
  <div class="pull-right">
    <%= link_to t('new_complaint'), new_complaint_path, :class => 'btn btn-primary' if can? :create, Complaint %>
  </div>
</div>

<a class="btn btn-link" data-target="#complaint-search-form" data-toggle="collapse"><%= t(:view_search) %></a>
<% if mobile_device? %>
<div id="complaint-search-form" class="collapse">
<% else %>  
<div id="complaint-search-form" class="collapse in">
<% end %>
  <%= form_tag complaints_path, :method => 'get', :id => "complaints_search", :class => 'form-horizontal' do %>
    <input name="state" type="hidden" value="<%= params[:state] %>" />
    <div class="control-group">
      <%= label_tag :phone_num, t('phone_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :phone_num, params[:customer_phone_num], class: 'control', placeholder: t(:phone_num_hint) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :customer_name, t('customer_name'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :customer_name, params[:customer_name], class: 'control' %>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :severity_level, t('severity_level'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:severity_level, options_for_select(
          Complaint::SEVERITY_LEVELS.map {|l| [t(Complaint::SEVERITY_LEVEL_STRINGS[l]), l]}, params[:severity_level]), {prompt: t(:all)})
        %>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :complained, t('complained'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:complained, options_for_select(
          User.asc(:name_pinyin).map {|u| [u.initial_and_name, u.id.to_s]}, params[:complained]), {prompt: t(:all)})
        %>
      </div>
    </div>
    
    <div class="control-group select">
      <%= label_tag :handler, t('handler'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:handler, options_for_select(
          User.asc(:name_pinyin).map {|u| [u.initial_and_name, u.id.to_s]}, params[:handler]), {prompt: t(:all)})
        %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t(:search), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div id="complaint-list">
  <%= t(:total, count: @complaints.size) %><br/>
  <%= render :partial => 'complaints' %>
</div>