<tr>
  <td><%= assignment.city.name %></td>
  <td><%= assignment.tool_type.identification %></td>
  <td><%= assignment.tool_brand.name %></td>
  <td><%= assignment.tool.tool_number %></td>
  <td><%= assignment.assignee.name %></td>
</tr>
