<div class="span10 offset1">
  <%= render 'tool_types/nav' %>

  <h3>已批准的丢失/损坏工具</h3>

  <div>
    <%= form_tag tool_assignments_path, class: 'form-inline', method: :get do %>
      <%= hidden_field_tag 'status', 'approved' %>

      <% if !current_user.storehouse_admin? -%>
        <%= select_tag 'city_id', options_from_collection_for_select(City.all, 'id', 'name', params[:city_id]), prompt: t('national') %>
      <% end -%>

      <%= select_tag 'discarded_type', options_for_select(tool_assignment_discarded_type_collection, params[:discarded_type]),
        prompt: ToolAssignment.human_attribute_name('discarded_type') %>

      <%= submit_tag t('search'), class: 'btn' %>
    <% end -%>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= ToolAssignment.human_attribute_name('city') %></th>
        <th><%= ToolAssignment.human_attribute_name('tool_type') %></th>
        <th><%= ToolAssignment.human_attribute_name('tool_brand') %></th>
        <th><%= Tool.human_attribute_name('tool_number') %></th>
        <th><%= ToolAssignment.human_attribute_name('assignee') %></th>
        <th><%= ToolAssignment.human_attribute_name('applied_at') %></th>
        <th><%= ToolAssignment.human_attribute_name('applicant') %></th>
        <th><%= ToolAssignment.human_attribute_name('discarded_type') %></th>
        <th><%= ToolAssignment.human_attribute_name('approved_at') %></th>
        <th><%= ToolAssignment.human_attribute_name('approver') %></th>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.city.name %></td>
          <td><%= assignment.tool_type.identification %></td>
          <td><%= assignment.tool_brand.name %></td>
          <td><%= assignment.tool.tool_number %></td>
          <td><%= assignment.assignee.name %></td>
          <td><%= l assignment.applied_at %></td>
          <td><%= assignment.applicant.try(:name) %></td>
          <td><%= translate_collection_options(assignment, :status) %></td>
          <td><%= l assignment.approved_at %></td>
          <td><%= assignment.approver.name %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= paginate @assignments %>
</div>
