<div class="span9 offset2">
  <% if @not_enough_stock.present? -%>
    <p>以下工具库存不足，无法进行分配</p>
    <ul>
      <% @not_enough_stock.each do |tool_type| -%>
        <li><%= tool_type.name %></li>
      <% end -%>
    </ul>
    <%= link_to t('back'), :back, class: 'btn' %>
  <% else -%>
    <p>确定要把下列工具分配给<%= @assignee.model_name.human %><%= @assignee.name %>吗？</p>
    <ul>
      <% @to_be_assigned.each do |tool_type| -%>
        <li><%= tool_type.name %></li>
      <% end -%>
    </ul>

    <%= form_tag batch_tool_assignments_path(assignee_id: @assignee.id, assignee_type: @assignee.model_name) do %>
      <%= submit_tag t('mongoid.attributes.tool_assignment.assign'), class: 'btn btn-primary' %>
    <% end -%>
  <% end -%>
</div>
