<div class="span10 offset1">
  <%= render 'tool_types/nav' %>

  <div class="page-header">
    <h1>已分配工具</h1>
  </div>

  <p>
    <%= @assignee.city.name %>
    <%= @assignee.model_name.human %>: <%= @assignee.name %>
  </p>

  <% @suite_assignments.each do |suite_assign| -%>
    <%= render partial: 'tool_assignments/group_of_assignee',
      locals: { title: suite_assign.tool_suite.name,
                assignments: suite_assign.tool_assignments.order_by(:created_at.desc),
                lacking_tools: suite_assign.tool_suite_inventory.lacking_tools } %>
  <% end -%>

  <%= render partial: 'tool_assignments/group_of_assignee',
    locals: { title: '零散工具', assignments: @part_assignments, lacking_tools: [] } %>
</div>
