<%= simple_form_for @notification, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, label: t('notification_title') %>
  <%= f.input :content, label: t('content'), as: :text, :input_html => { :cols => 50, :rows => 5, :style => 'width: 300px', :placeholder => t(:notification_hint) } %>
  <%= f.association :cities, label: t('cities'), collection: City.where(opened: 1), label_method: :name, as: :check_boxes, item_wrapper_class: 'inline' %>
  <div class="form-actions">
    <%= f.button :submit, t(:save_draft), :class => 'btn-primary' %>
    <%= f.button :submit, t(:send), :class => 'btn-success', :name => 'send' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notifications_path, :class => 'btn' %>
  </div>
<% end %>