<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :role, label: t('role'), collection: User::ROLES, value_method: :to_s, label_method:  :to_friendly, prompt: t('choose_role') %>
  <%= f.input :name, label: t('name') %>
  <%= f.input :phone_num, label: t('phone_num') %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
