<%- model_class = User -%>
<div class="page-header">
  <h1><%= t 'employees' %><%= link_to t('new_user'), new_user_path, :class => 'btn btn-primary pull-right' if can? :create, User %></h1>
</div>
<a class="btn btn-link" data-target="#user-search-form" data-toggle="collapse"><%= t(:view_search) %></a>
<div id="user-search-form" class="collapse in">
  <%= form_tag users_path, :method => 'get', :id => "userSs_search", :class => 'form-horizontal' do %>
    <div class="control-group">
      <%= label_tag :name, t('employees_name'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :name, params[:name], class: 'control' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :phone_num, t('phone_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :phone_num, params[:phone_num], class: 'control', placeholder: t(:phone_num_hint) %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :role, t('role'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:role, options_for_select(
          User::ROLES.map {|r| [t(User::ROLE_STRINGS[r]), r]}, params[:role]), {prompt: t(:all)})
        %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :city, t('cities'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:city, options_for_select(
          City.all.map {|c| [c.name, c.id]}, params[:city]), {prompt: t(:all)})
        %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :belong, t('belong'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:belong, options_for_select(
          Storehouse.all.map {|s| [s.name, s.id]}, params[:belong]), {prompt: t(:all)})
        %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :state, t('state'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:state, options_for_select(
          User::STATES.map {|s| [t(User::STATE_STRINGS[s]), s]}, params[:state]), {prompt: t(:all)})
        %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag t(:search), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<%= paginate @users %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:cities) %></th>
      <th><%= t(:title) %></th>
      <th><%= t(:role) %></th>
      <th><%= t(:belong) %></th>
      <th><%= t(:state) %></th>
      <th><%= t 'remark' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.phone_num %></td>
        <td><%= user.city.name if user.city? %></td>
        <td><%= user.title %></td>
        <td>
          <ul>
          <% user.roles.each do |r| %>
            <li><%= t(User::ROLE_STRINGS[r.to_i]) %></li>
          <% end %>
          </ul>
        </td>
        <td><%= user.storehouse.name if user.storehouse %></td>
        <td><%= t(User::STATE_STRINGS[user.state.to_i]) %></td>
        <td><%= user.remark %></td>
        <td>
          <%= link_to t('edit'),
                      edit_user_path(user), :class => 'btn btn-mini' if can? :update, user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<p><strong><%= t('total', count: @users.count )%></strong></p>
