<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:autos) %></th>
      <th><%= t(:role) %></th>
      <th><%= t 'remark' %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.phone_num %></td>
        <td>
          <ul>
          <% user.autos.each do |auto| %>
            <li><%= link_to auto.number, auto_path(auto) %></;i>
          <% end %>
          </ul>
        </td>
        <td><%= t(user.role) %></td>
        <td><%= user.remark %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
             new_user_path,
            :class => 'btn btn-primary' %>
