<%- model_class = User -%>
<div class="page-header">
  <h1><%= t 'employees' %><%= link_to t('new_user'), new_user_path, :class => 'btn btn-primary pull-right' if can? :create, User %></h1>
</div>
<%= paginate @users %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:phone_num) %></th>
      <th><%= t(:title) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:role) %></th>
      <th><%= t 'remark' %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.phone_num %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <td>
          <ul>
          <% user.roles.each do |r| %>
            <li><%= t(User::ROLE_STRINGS[r.to_i]) %></li>
          <% end %>
          </ul>
        </td>
        <td><%= user.remark %></td>
        <td>
          <%= link_to t('edit'),
                      edit_user_path(user), :class => 'btn btn-mini' if can? :update, user %>
          <%= link_to t('destroy'),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('confirm_user_delete', n: user.name) },
                      :class => 'btn btn-mini btn-danger' if can? :destroy, user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
<p><strong><%= t('total', count: @users.count )%></strong></p>
