<%- model_class = Video -%>
<div class="page-header">
  <h1><%= t 'videos' %></h1>
</div>
<%= paginate @videos %>
<p><strong><%= t('total', count: Video.count )%></strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:create_time) %></th>
      <th><%= t(:engineer_name) %></th>
      <th><%= t(:size) %></th>
      <th><%= t(:created_at) %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= l video.create_time %></td>
        <td><%= video.engineer.try(:name) || video.engineer_name %></td>
        <td><%= number_to_human_size(video.bytes) %></td>
        <td><%= l video.created_at %></td>
        <td>
          <%= link_to t('view'), video_path(video), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @videos %>
<p><strong><%= t('total', count: Video.count )%></strong></p>
