<div class="span9 offset2">
  <%= render 'tool_types/nav' %>

  <div>
    <%= render 'tool_batches/new_btn' %>

    <%= form_tag tool_stocks_path, class: 'form-inline', method: :get do %>
        <%= ToolStock.human_attribute_name('remained_count') %>:
        <%= t('below_than') %>
        <input type="number" name="remained_ceiling" value="<%= params[:remained_ceiling] %>" class="span1" />

      <%= select_tag 'city_id', options_from_collection_for_select(City.all, 'id', 'name', params[:city_id]), prompt: t('national') %>
      <%= select_tag 'category', options_for_select(tool_type_category_collection, params[:category]),
        prompt: t('views.modules.tool_management.all_categories') %>

      <%= submit_tag t('search'), class: 'btn' %>
    <% end -%>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('mongoid.attributes.tool_stock.city') %></th>
        <th><%= t('mongoid.attributes.tool_stock.tool_type') %></th>
        <th><%= t('mongoid.attributes.tool_stock.tool_type_category') %></th>
        <th><%= t('mongoid.attributes.tool_stock.assigned_count') %></th>
        <th><%= t('mongoid.attributes.tool_stock.remained_count') %></th>
        <th><%= t('mongoid.attributes.tool_stock.total') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tool_stocks %>
    </tbody>
  </table>
  <%= paginate @tool_stocks %>
</div>
