<% orders.each_with_prev do |prev, o| %>
  <% if prev && prev.address == o.address %>
  <% a = ' alert' %>
  <% else %>
  <% a = '' %>
  <% end %>
  <tr class="daily-order-tr tooltip-parent<%= a %>" id="<%= o.id %>" data-seq="<%= o.seq %>" data-city="<%= o.city.name %>" data-state="<%= t(Order::STATE_STRINGS[o.state]) %>">
    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <i class="icon-question-sign" id="mqm-<%= o.seq %>"></i>
      <i class="icon-map-marker" id="mm-<%= o.seq %>" style="display: none;"></i>
      <a class="order-a" href="#" draggable="true"><%= o.seq %></a>
    </td>
    <td class="order-time"><i class="icon-time">&nbsp</i><%= o.serve_datetime.strftime('%H:%M') %>
      <span data-toggle="tooltip" title="<%= o.service_types.first.name if o.service_types %>">&nbsp<i class="icon-info-sign"></i></span>
    </td>
    <td><%= o.address %></td>
  </tr>
<% end %>
