<%= simple_nested_form_for @order, :html => { class: "form-horizontal" } do |f| %>
  <% if (%w[unverified verify_error].include? Order::STATE_STRINGS[@order.state]) || params[:edit_all] %>
  <h5 id="basic_infos"><%= t(:basic_infos) %></h5>
    <div class="control-group">
      <label for="select-car-location" class="control-label"><%= t(:car_num) %></label>
      <div class="controls form-inline">
        <%= collection_select(:order, :car_location, t(:locations).split, :to_s, :to_s, {:prompt=>true}, {:class=>'input-small control', :id => 'select-car-location'}) %>
        <%= f.input_field :car_num, class: "input-small", minlength: "6", maxlength: "6", "data-msg-required" => t(:car_num_required), "data-msg-minlength" => t(:car_num_minlength), "data-msg-maxlength" => t(:car_num_minlength), placeholder: t(:five_bits_num) %>
        <%= link_to t(:search_order_history), orders_path(), :class => 'btn', :id => 'search-by-car-num' %>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
      <div id="order-list"></div>
    </div>
  
    <div class="control-group">
      <label for="order_phone_num" class="control-label"><%= t(:phone_num) %></label>
      <div class="controls form-inline">
        <%= f.input_field :phone_num, :class => 'numeric', :numeric => '', minlength: "8", maxlength: "13", "data-msg-required" => t(:phone_num_required), "data-msg-minlength" => t(:phone_num_minlength), "data-msg-maxlength" => t(:phone_num_minlength) %>
        <%= link_to t(:search_order_history), orders_path(), :class => 'btn', :id => 'search-by-phone-num' %>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
      <div id="order-list-by-phone-num" class="order-list"></div>
    </div>
  
    <%= f.input :address, label: t(:address), input_html: { minlength: "4", maxlength: "512", "data-msg-required" => t(:address_required), "data-msg-minlength" => t(:address_minlength), "data-msg-maxlength" => t(:address_maxlength)} %>
    <%= f.input :name, label: t(:client_name) %>
    <%= f.input :auto_owner_name, label: t(:auto_owner_name) %>
    <%= f.association :user_type, collection: UserType.all, prompt: t('choose_user_type'), label: t('user_type'), include_blank: false %>

    <div class="control-group">
      <label for="order_serve_datetime" class="control-label"><%= t(:serve_datetime) %></label>
      <div class="controls form-inline">
        <%= f.input_field :serve_datetime, as: :datetime_picker %>
        <div class="btn-group">
          <a class="btn datetime-shortcut" data-msg="<%= l DateTime.now.since(1.days).beginning_of_day.since(10.hours) %>"><%= t(:tomo_morning) %></a>
          <a class="btn datetime-shortcut" data-msg="<%= l DateTime.now.since(1.days).beginning_of_day.since(14.hours) %>"><%= t(:tomo_afternoon) %></a>
          <a class="btn datetime-shortcut" data-msg="<%= l DateTime.now.since(2.days).beginning_of_day.since(10.hours) %>"><%= t(:tomo_tomo_morning) %></a>
          <a class="btn datetime-shortcut" data-msg="<%= l DateTime.now.since(2.days).beginning_of_day.since(14.hours) %>"><%= t(:tomo_tomo_afternoon) %></a>
        </div>
      </div>
    </div>

    <%= f.input :vin %>
    <%= f.input :engine_num, label: t(:engine_num) %>
    <%= f.input :registration_date, as: :date_picker, label: t(:auto_reg_date) %>
    <div class="control-group">
      <label for="search-car-model" class="control-label"><%= t(:auto_model_query) %></label>
      <div class="controls" id="search-car-model">
        <input type="text" autocomplete="off" id="car-model-search" data-link="<%= auto_submodels_path %>" placeholder="<%= t(:auto_model_search_hint) %>" value="<%= @order.auto_submodel ? @order.auto_submodel.full_name : '' %>"/>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
    </div>

    <%= f.input :auto_submodel_id, :as => :hidden %>
    <div id="auto_submodels">
    <% if @order.auto_submodel %>
      <%= render 'auto_submodels/auto_submodels' %>
    <% end %>
    </div>
  <h5 id="service_types"><%= t(:service_types) %></h5>
    <div class="control-group">
      <label for="select-service-types" class="control-label"><%= t(:service_item) %></label>
      <div class="controls" id="select-service-types">
        <%= render 'service_types' %>
      </div>
    </div>
  
<h5 id="parts"><%= t(:part) %></h5>
    <%= f.input :buymyself, label: t(:buymyself), as: :boolean %>
    <div class="control-group">
      <label for="select-parts" class="control-label"><%= t(:applicable_parts) %></label>
      <div class="controls" id="select-parts">
        <%= render 'parts' %>
      </div>
    </div>
  
    <div class="control-group">
      <label for="div-discount" class="control-label"><%= t(:discount_num) %></label>
      <div class="controls form-inline" id="div-discount">
        <%= f.input_field :discount_num %>
        <%= link_to t(:verify_discount_num), discount_query_path, class: 'btn', id: 'verify-discount-num-btn' %>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
    </div>
    <div id="discount-info"></div>
    
  <h5 id="pay-infos"><%= t(:pay_info) %></h5>
    <div class="control-group">
      <label for="price-info" class="control-label"><%= t(:price_info) %></label>
      <div class="controls form-inline" id="price-info">
        <%= link_to t(:calc_price), calcprice_order_path, class: 'btn', id: 'calcprice-btn', method: :post %>
      </div>
    </div>
    <div id="price-detail"><%= render 'price_detail' %></div>
    
    <%= f.input :pay_type, label: t(:pay_type), collection: Order::PAY_TYPES, label_method:  lambda { |s| t(Order::PAY_TYPE_STRINGS[s]) }, include_blank: false %>
    <%= f.input :reciept_type, label: t(:reciept_type), collection: Order::RECIEPT_TYPES, label_method:  lambda { |s| t(Order::RECIEPT_TYPE_STRINGS[s]) }, include_blank: false %>
    <%= f.input :reciept_title, label: t(:reciept_title) %>
  
  <h5 id="others"><%= t(:others) %></h5>
    <%= render 'comments', :f => f %>
    <div class="form-actions">
      <% if (%w[new duplicate].include? params[:action]) %>
        <%= f.button :submit, t(:save), :class => 'btn-primary' %>
      <% elsif params[:edit_all] %>
        <%= f.button :submit, t(:save), :class => 'btn-primary', name: "edit_all", value: t(:save) %>
      <% else %>
        <%= f.button :submit, t(:verify_ok), :class => 'btn-primary' %>
        <%= f.button :submit, t(:verify_failed), :class => 'btn-warning', name: "verify_failed", value: t(:verify_failed) %>
      <% end %>
      <%= link_to t('cancel'), orders_path(state: 0), :class => 'btn' %>
    </div>
  <% elsif Order::STATE_STRINGS[@order.state] == 'unassigned' %>
    <%= f.association :engineer, label: t(:assigned_to_engineer), collection: User.all.select { |u| u.roles.include? User::ROLE_STRINGS.index('engineer').to_s }, label_method: :name_and_order_num, include_blank: false %>
    <%= render 'comments', :f => f %>
    <div class="form-actions">
      <%= f.button :submit, t(:assign_ok), :class => 'btn-primary' %>
    </div>
  <% elsif Order::STATE_STRINGS[@order.state] == 'unscheduled' %>
    <%= f.association :engineer, label: t(:assigned_to_engineer), collection: User.all.select { |u| u.roles.include? User::ROLE_STRINGS.index('engineer').to_s }, label_method: :name_and_order_num, include_blank: false %>
    <%= f.input :phone_num, label: t(:confirmed_phone_num), input_html: { :class => 'numeric', :numeric => '', minlength: "8", maxlength: "13", "data-msg-required" => t(:phone_num_required), "data-msg-minlength" => t(:phone_num_minlength), "data-msg-maxlength" => t(:phone_num_minlength) } %>
    <%= f.input :address, label: t(:confirmed_address) %>
    <%= f.input :name, label: t(:confirmed_client_name) %>
    <%= f.input :serve_datetime, label: t(:confirmed_serve_datetime), :as => :datetime_picker %>
    <div id="price-detail"><%= render 'price_detail' %></div>
    <%= render 'comments', :f => f %>
    <div class="form-actions">
      <%= f.button :submit, t(:schedule_ok), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% elsif Order::STATE_STRINGS[@order.state] == 'scheduled' %>
    <%= f.association :engineer, label: t(:assigned_to_engineer), collection: User.all.select { |u| u.roles.include? User::ROLE_STRINGS.index('engineer').to_s }, label_method: :name_and_order_num, include_blank: false %>
    <h5><%= t(:gather_auto_info) %></h5>
      <%= f.input :auto_km, label: t(:auto_km) %>
      <%= f.input :oil_out, label: t(:oil_out) %>
      <%= f.input :oil_in, label: t(:oil_in) %>
      <%= f.input :front_wheels, label: t(:front_wheels) %>
      <%= f.input :back_wheels, label: t(:back_wheels) %>
      <%= f.input :auto_km_next, label: t(:auto_km_next) %>
      <%= f.input :serve_datetime_next, label: t(:serve_datetime_next), :as => :datetime_picker %>
    <%= f.input :vin %>
    <%= f.input :engine_num, label: t(:engine_num) %>
    <%= f.input :registration_date, as: :date_picker, label: t(:auto_reg_date) %>
    <div class="control-group">
      <label for="search-car-model" class="control-label"><%= t(:auto_submodel) %></label>
      <div class="controls" id="search-car-model">
        <input type="text" autocomplete="off" id="car-model-search" data-link="<%= auto_submodels_path %>" placeholder="<%= t(:auto_model_search_hint) %>" value="<%= @order.auto_submodel ? @order.auto_submodel.full_name : '' %>"/>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
    </div>
    <%= f.input :auto_submodel_id, :as => :hidden %>
    <div id="auto_submodels">
    <% if @order.auto_submodel %>
      <%= render 'auto_submodels/auto_submodels' %>
    <% end %>
    </div>
    <h5><%= t(:finished_service_types) %></h5>
    <%= f.input :oil_filter_changed, label: t(:oil_filter_changed), :as => :boolean %>
    <%= f.input :air_filter_changed, label: t(:air_filter_changed), :as => :boolean %>
    <%= f.input :cabin_filter_changed, label: t(:cabin_filter_changed), :as => :boolean %>
    <%= f.input :charged, label: t(:charged, p: (humanized_money_with_symbol @order.price) ), :as => :boolean %>
    <%= f.input :oil_gathered, label: t(:oil_gathered), :as => :boolean %>
    <h5 id="others"><%= t(:others) %></h5>
    <table id="pictures" class="table table-hover table-small">
      <tbody>
        <%= f.fields_for :pictures, :wrapper => false do |sf| %>
          <tr class="fields">
            <td>
              <%= sf.input :p, label: t(:picture) %>
            </td>
            <td><%= image_tag sf.object.p.url(:small) %></td>
            <td>
              <%= sf.link_to_remove t('remove_pic'), class: 'btn btn-small btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= f.link_to_add t('add_pic'), :pictures, :data => { :target => "#pictures > tbody" }, class: 'btn btn-small btn-info' %></p>
    <%= render 'comments', :f => f %>
    <div class="form-actions">
      <%= f.button :submit, t(:serve_ok), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
    <%= javascript_include_tag "application" %>
  <% elsif Order::STATE_STRINGS[@order.state] == 'serve_done' %>
    <%= render 'comments', :f => f %>
    <%= f.input :client_comment, label: t('client_comment'), as: :text, :input_html => { :cols => 50, :rows => 3, :placeholder => t(:client_comment_usage) } %>
    <div class="form-actions">
      <%= f.button :submit, t(:handover_ok), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% elsif Order::STATE_STRINGS[@order.state] == 'handovered' %>
    <%= render 'comments', :f => f %>
    <%= f.input :client_comment, label: t('client_comment'), as: :text, :input_html => { :cols => 50, :rows => 3, :placeholder => t(:client_comment_usage) } %>
    <div class="form-actions">
      <%= f.button :submit, t(:revisit_ok), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% elsif Order::STATE_STRINGS[@order.state] == 'revisited' %>
    <%= render 'comments', :f => f %>
    <%= f.input :client_comment, label: t('client_comment'), as: :text, :input_html => { :cols => 50, :rows => 3, :placeholder => t(:client_comment_usage) } %>
    <div class="form-actions">
      <%= f.button :submit, t(:save), :class => 'btn-primary' %>
      <a class="btn cancel-edit-btn"><%= t(:cancel) %></a>
    </div>
  <% end %>
<% end %>
<span id="service-type-at-least-one" class="hide"><%= t(:service_type_at_least_one) %></span>