<%= simple_nested_form_for @order, :html => { class: "form-horizontal" } do |f| %>
<div data-role="page" id="page0">
  <div data-role="header">
    <h1><%= t(:orders) %></h1>
    <%= link_to t(:log_out), destroy_user_session_path, "class" => "ui-btn-left", :method=>'delete', "data-ajax" => true %>
    <a href="#" id="refresh-page-btn" class = "ui-btn-right" data-ajax="false"><%= t(:refresh) %></a>
  </div>
  
  <div data-role="content">
    <ul data-role="listview">
    <% @orders.each do |order| %>
      <li>
      <%= link_to order, :"data-ajax" => false do %>
        <p>
          <%= l order.serve_datetime if order.serve_datetime %>&nbsp
          <span><%= order.service_items.first.service_type.name if order.service_items.first %></span>
        </p>
        <p><%= order.car_location + order.car_num %></span></p>
        <h5><%= t(Order::STATE_STRINGS[order.state]) %></h5>
      </a>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#page_new1" class="ui-btn-active" data-icon="plus" data-transition="slide"><%= t('new_order') %></a>
        </li>
        </ul>
    </div>
  </div>
</div>

<div data-role="page" id="page_new1">
  <div data-role="header">
    <h1><%= t(:auto_num_info) %></h1>
    <a href="#page0" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t('cancel') %></a>
    <a href="#page_new2" id="new1_to_new2" class="ui-btn-right" data-transition="slide"><%= t(:next) %></a>
  </div>
  
  <div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a" style="width:30%">
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= f.input :car_location, collection: t(:locations).split  %>
        </div>
      </div>
      <div class="ui-block-b" style="width:70%">
        <div data-role="fieldcontain" class="ui-hide-label">
          <input type="text" name="order[car_num]" minlength="6" maxlength="6" required data-msg-required="<%= t(:car_num_required) %>" data-msg-minlength="<%= t(:car_num_minlength) %>" data-msg-maxlength="<%= t(:car_num_minlength) %>" style="height: 30px" placeholder="<%= t(:five_bits_num) %>"/>
        </div>
      </div>
    </div>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="page_new2">
  <div data-role="header">
    <h1><%= t(:auto_submodel_info) %></h1>
    <a href="#page_new1" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
    <a href="#page_new3" class="ui-btn-right" data-transition="slide"><%= t(:next) %></a>
  </div>
  
  <div data-role="content">
      <div>
        <span><%= t(:choose_brand) %></span>
      </div>
      <div class="controls">
        <%= collection_select :auto_model, :brand_id, AutoBrand.all, :id, :name, { :selected => AutoBrand.first.name }, {:rel => "/auto_brands", :class => 'control'}  %>
      </div>
      
      <div>
        <span><%= t(:choose_auto_model) %></span>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
      <div class="controls">
        <%= collection_select :auto_submodel, :model_id, AutoBrand.first.auto_models.all, :id, :name, { :selected => AutoBrand.first.auto_models.first.name }, {:rel => "/auto_models", :class => 'control', "data-native-menu" => "true"} %>
      </div>
  
      <div>
        <span><%= t(:model_year) %></span>
        <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
      </div>
      <%= f.association :auto_submodel, collection: AutoBrand.first.auto_models.first.auto_submodels.all, label: false, label_method: :name  %>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="page_new3">
  <div data-role="header">
    <h1><%= t(:basic_infos) %></h1>
    <a href="#page_new2" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
    <a href="#page_new4" id="new3_to_new4" class="ui-btn-right" data-transition="slide"><%= t(:next)  %></a>
  </div>
  
  <div data-role="content">
    <%= f.input :phone_num, label: t(:phone_num), input_html: { :class => 'numeric', :numeric => '', :minlength => "8", :maxlength => "13", :required => '', "data-msg-required" => t(:phone_num_required), "data-msg-minlength" => t(:phone_num_minlength), "data-msg-maxlength" => t(:phone_num_minlength) } %>
    <%= f.input :address, label: t(:address), input_html: {:minlength => "4", :maxlength => "128", :required => '', "data-msg-required" => t(:address_required), "data-msg-minlength" => t(:address_minlength), "data-msg-maxlength" => t(:address_minlength) } %>
    <label for="datetime-l"><%= t(:serve_datetime) %></label>
    <input type="datetime-local" name="order[serve_datetime]" id="datetime-l" value="<%= Time.zone.now.since(1.days).strftime('%Y-%m-%dT%H:%M:%S') %>" />
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="page_new4">
  <div data-role="header">
    <h1><%= t(:service_types) %></h1>
    <a href="#page_new3" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
    <a href="#page_new5" class="ui-btn-right" data-transition="slide"><%= t(:next) %></a>
  </div>
  
  <div data-role="content">
    <fieldset data-role="controlgroup">
      <legend><%= t(:choose_service_item) %></legend>
      <% @order.service_items.each do |si| %>
        <input type="checkbox" name="order_service_items[<%= si.service_type.id %>]" id="<%= si.service_type.id %>" class="custom" />
        <label for="<%= si.service_type.id %>"><%= si.service_type.name %></label>
      <% end %>
    </fieldset>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="page_new5">
  <div data-role="header">
    <h1><%= t(:part_infos) %></h1>
    <a href="#page_new4" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
    <a href="#page_new6" class="ui-btn-right" data-transition="slide"><%= t(:next) %></a>
  </div>
  
  <div data-role="content">
    <fieldset data-role="controlgroup">
      <input type="radio" name="order[buymyself]" id="buy" value="0" checked="checked" />
      <label for="buy"><%= t(:buy_from_kalading) %></label>
      <input type="radio" name="order[buymyself]" id="order_buymyself" value="1"  />
      <label for="order_buymyself"><%= t(:buymyself) %></label>
    </fieldset>
    <div id="parts"><%= render 'parts' %></div>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>
  
<div data-role="page" id="page_new6">
  <div data-role="header">
    <h1><%= t(:pay_info) %></h1>
    <a href="#page_new5" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
    <%= f.button :submit, t('submit'), :class => 'ui-btn-right' %>
  </div>

  <div data-role="content">
    <p>
      <%= t(:services_price) + @order.service_prices + " = " + humanized_money_with_symbol(@order.calc_service_price) %>
    </p>
    <p>
      <%= t(:parts_price) + @order.part_prices + " = " + humanized_money_with_symbol(@order.calc_parts_price) %>
    </p>
    <p>
      <%= t(:summary_price) + @order.service_prices + "+" + @order.part_prices + " = " + humanized_money_with_symbol(@order.calc_price) %>
    </p>

    <h5 id="discount_info_pos"><%= t(:discount_info) %></h5>
    <fieldset data-role="controlgroup">
      <% Discount.all.each do |d| %>
     	<input type="checkbox" name="radio-choice" id="<%= d.id %>_cb" value="<%= d.id %>"/>
     	<label for="<%= d.id %>_cb"><%= d.name %></label>
      <% end %>
    </fieldset>

    <fieldset class="ui-grid">
      <div class="ui-block"><button type="submit" data-theme="a"><%= t(:submit) %></button></div>
    </fieldset>
  </div>

  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#page0" data-icon="home" data-transition="slide"><%= t(:orders) %></a></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
