<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-label"><%= t(:op_history) + ' - ' + @order.seq.to_s %></h3>
</div>

<div class="modal-body">
  <ul class="media">
    <% @history_trackers.each do |ht| %>
      <li class="media-body">
        <i class="icon-chevron-right"></i>&nbsp<%= l ht.created_at %>&nbsp<%= ht.created_by.try(:name) %>
        <ul>
          <% ht.modified.each do |k, v| %>
            <li>
              <%= t(k) + t(:changed_to) %>
              <% if k == 'state' %>
                <%= t(Order::STATE_STRINGS[v]) %>
              <% elsif k == 'serve_datetime' %>
                <%= l (v + Time.zone.utc_offset) %>
              <% elsif k == 'part_deliver_state' %>
                <%= t(Order::PART_DELIVER_STATE_STRINGS[v]) %>
              <% elsif k == 'auto_submodel_id' %>
                <%= AutoSubmodel.find(v).try(:full_name) %>
              <% elsif k == 'engineer_id' || k == 'engineer2_id'  || k == 'dispatcher_id'%>
                <%= User.find(v).try(:name) || Engineer.find(v).try(:name) %>
              <% elsif k == 'service_type_ids' %>
                <% v.each do |st| %>
                  <%= ServiceType.find(st).try(:name) + ' ' %>
                <% end %>
              <% elsif k == 'part_ids' %>
                <% v.each do |p| %>
                  <%= Part.find(p).try(:number) + ' ' %>
                <% end %>
              <% else %>
                <%= v %>
              <% end %>
              </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= paginate @history_trackers, :remote => true, :params => {:controller => 'orders', :action => 'history'} %>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ok') %></button>
</div>


