<% if @orders.exists? %>
  <% if request.xhr? %>
    <% if params[:phone_num] %>
    <p><strong><%= t(:history_orders_of, s: params[:phone_num]) %></strong></p>
    <% elsif params[:car_location] %>
    <p><strong><%= t(:history_orders_of, s: params[:car_location] + params[:car_num]) %></strong></p>
    <% end %>
  <% end %>

  <%= paginate @orders %>

  <table class="table table-striped" id="order-table">
    <thead>
      <tr>
        <th><%= t(:order_id) %></th>
        <th><%= t(:state) %></th>
        <th><%= t(:serve_datetime) %></th>
        <th><%= t(:engineer_name) %></th>
        <th><%= t(:car_num) %></th>
        <th><%= t(:auto_submodel) %></th>
        <th><%= t(:address) %></th>
        <th><%= t(:phone_num) %></th>
        <th><%= t(:customer_name) %></th>
        <th><%= t(:service_item) %></th>
        <th><%= t(:part) %></th>
        <th><%= t(:total_price) %></th>
        <th><%= t(:create_order_time) %></th>
        <th><%= t(:comment) %></th>
        <% if can? :manage, :all %>
        <th><%= t(:maintain_record) %></th>
        <% end %>
        <% if current_user && current_user.roles.include?('8') %>
        <th><%= t(:reciept_state) %></th>
        <th><%= t(:reciept_type) %></th>
        <th><%= t(:reciept_title) %></th>
        <th><%= t(:reciept_address) %></th>
        <% end %>
        <th><%=t 'actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% colors = %w[success error info warning] %>
      <% @orders.each_with_index do |order, i| %>
        <tr class="<%= colors[ i % colors.length] %> order-tr" id="order-tr-<%= order.seq %>" data-city="<%= order.city.name %>">
          <td><i class="icon-map-marker" id="mm-<%= order.seq %>" style="display: none;"></i><%= order.seq %></td>
          <td>
            <span class="order-state" data-state="<%= order.state %>"><%= t(Order::STATE_STRINGS[order.state]) %></span>
            <% if order.state == 8 %>
              <p class="alert alert-error"><%= order.cancel_reason %></p>
            <% end %>
          </td>
          <td><%= l order.serve_datetime if order.serve_datetime %></td>
          <td>
            <% if order.engineer %>
              <%= order.engineer.name %>
            <% else %>
              <%= t(:unassigned) %>
            <% end %>
            <% if order.engineer2 %>
              <%= order.engineer2.name %>
            <% end %>
          </td>
          <td><%= order.car_location + order.car_num %>
            <% if order.car_location.present? && order.car_num.present? && can?(:order_stats, Order) %>
              &nbsp<a href="<%= orders_path(Order.valid_by_car_hash(order.car_location, order.car_num)) %>"><span class="badge badge-info"><%= Order.valid.by_car(order.car_location, order.car_num).count %></span></a>
            <% end %>
          </td>
          <td><%= order.auto_submodel.full_name if order.auto_submodel %></td>
          <td class="order-address"><%= order.address %></td>
          <td><%= order.phone_num %></td>
          <td><%= order.name %></td>
          <td>
            <a class="btn btn-link" data-toggle="collapse" data-target="#<%= order.id %>_sts"><%= t(:view) %></a>
            <div id="<%= order.id %>_sts" class="collapse">
            <% order.service_type_ids.each do |st| %>
            <p><%= @service_type_names[st] %></p>
            <% end %>
            </div>
          </td>
          <td>
            <% if order.buymyself %>
              <%= t(:buymyself) %>
            <% elsif order.parts.empty? %>
              <%= t(:nothing) %>
            <% else %>
              <a class="btn btn-link" data-toggle="collapse" data-target="#<%= order.id %>_parts"><%= t(:view) %></a>
              <div id="<%= order.id %>_parts" class="collapse">
                <table class="table table-condensed">
                  <tbody>
                  <% order.parts.each do |part| %>
                    <tr>
                      <td><%= link_to part.part_type.name, part_type_path(part.part_type) %></td>
                      <td><%= link_to part.part_brand.name %><%= link_to part.number, part_path(part) %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </td>
          <td><%= humanized_money_with_symbol order.calc_price %></td>
          <td><%=l order.created_at %></td>
          <td>
            <% if order.comments.empty? %>
              <%= t(:nothing) %>
            <% else %>
              <a class="btn btn-link" data-toggle="collapse" data-target="#<%= order.id %>_comments"><%= t(:view) %></a>
              <div id="<%= order.id %>_comments" class="collapse">
              <% order.comments.desc(:created_at).each do |c| %>
              <p><%= c.text %></p>
              <% end %>
              </div>
            <% end %>
          </td>
          <% if can? :manage, :all %>
          <td>
            <% if order.maintains.exists? %>
              <a class="btn btn-link" data-toggle="collapse" data-target="#<%= order.id %>_maintains"><%= t(:view) %></a>
              <div id="<%= order.id %>_maintains" class="collapse">
                <% order.maintains.desc(:created_at).each do |m| %>
                <p><%= link_to m.created_at.strftime('%Y-%m-%d %H:%M'), maintain_path(m) %></p>
                <% end %>
              </div>
            <% end %>  
          </td>
        <% end %>
          <% if current_user && current_user.roles.include?('8') %>
            <td><%= t(Order::RECIEPT_STATE_STRINGS[order.reciept_state]) %></td>
            <td><%= t(Order::RECIEPT_TYPE_STRINGS[order.reciept_type]) %></td>
            <td><%= order.reciept_title %></td>
            <td><%= order.reciept_address %></td>
          <% end %>
          <td>
            <% if mobile_device? %>
              <%= link_to t(:detail), order, { :class => 'btn btn-info btn-mini' } %>
            <% else %>
              <%= link_to t(:detail), order, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => 'btn btn-info btn-mini' } %>
            <% end %>
            <%= link_to t(:reciept), edit_order_path(order, invoice: 1), :class => 'btn btn-info btn-mini', :remote => true if current_user && current_user.roles.include?('8') && !(%w[unverified verify_error service_cancelled inquiry cancel_pending].include? Order::STATE_STRINGS[order.state]) %>
              
            <% if can? :update, Order %>
              <% if !(%w[revisited inquiry].include? Order::STATE_STRINGS[order.state]) %>
                <% if order.part_deliver_state == 0 %>
                  <% if %w[unscheduled scheduled].include? Order::STATE_STRINGS[order.state] %>
                    <%= link_to t(:parts_deliver), edit_order_path(order, part_deliver: 1), :class => 'btn btn-mini', :remote => true if can?(:inout, Storehouse) %>
                  <% end %>
                  <% if %w[unverified verify_error unassigned].include? Order::STATE_STRINGS[order.state] %>
                    <%= link_to t(Order::STATE_OPERATIONS[order.state]), edit_order_path(order), :class => 'btn btn-mini', :remote => !(%w[unverified verify_error].include? Order::STATE_STRINGS[order.state]) %>
                  <% end %>
                <% elsif order.part_deliver_state == 1 %>
                  <% if %w[serve_done service_cancelled cancel_pending].include? Order::STATE_STRINGS[order.state] %>
                    <%= link_to t(:storehouse_back), edit_order_path(order, part_back: 1), :class => 'btn btn-mini', :remote => true if can?(:inout, Storehouse) %>
                  <% end %>
                  <% if  %w[scheduled].include? Order::STATE_STRINGS[order.state] %>
                    <%= link_to t(Order::STATE_OPERATIONS[order.state]), edit_order_path(order), :class => 'btn btn-mini', :remote => !(%w[unverified verify_error].include? Order::STATE_STRINGS[order.state]) %>
                  <% end %>
                <% elsif order.part_deliver_state == 2 %>
                  <% if %w[scheduled serve_done].include? Order::STATE_STRINGS[order.state] %>
                    <%= link_to t(Order::STATE_OPERATIONS[order.state]), edit_order_path(order), :class => 'btn btn-mini', :remote => true %>
                  <% end %>
                <% end %>
              <% end %>
              
              <% if Order::STATE_STRINGS[order.state] == 'cancel_pending' %>
                <%= link_to t(:verify), edit_order_path(order), :class => 'btn btn-mini', :remote => true if can? :update, order %>
              <% end %>

              <% if !(%w[handovered revisited service_cancelled cancel_pending].include? Order::STATE_STRINGS[order.state]) %>
                <%= link_to t(:edit), edit_order_path(order, edit_all: 1), :class => 'btn btn-mini' if can? :edit_all, order and !(%w[unverified verify_error].include? Order::STATE_STRINGS[order.state]) %>
              <% end %>
              <%= link_to t('duplicate_order'), duplicate_order_path(order), :class => 'btn btn-mini' %>
              <%= link_to t(:cancel), edit_order_path(order, cancel: 1), :class => 'btn btn-mini', :remote => true if can? :edit_all, order and (%w[unverified verify_error unassigned unscheduled scheduled].include? Order::STATE_STRINGS[order.state]) %>
              <%= link_to t(:print), print_order_path(order), :class => 'btn btn-mini', :target => '_blank' if (%w[unscheduled scheduled serve_done].include? Order::STATE_STRINGS[order.state]) %>
              <%= link_to t(:comment), edit_order_path(order, add_comment: 1), :class => 'btn btn-mini', :remote => true %>
              <%= link_to t(:send_sms), order_send_sms_notify_path(order),
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini' if (%w[unverified verify_error].include? Order::STATE_STRINGS[order.state]) || (%w[client_reschedule part_error].include? Order::CANCEL_TYPE_STRINGS[order.cancel_type]) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="td-order-form" colspan="14" style="display: none;" id="td-<%= order.id.to_s %>"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
<% else %>
  <% if params[:phone_num] or params[:car_location] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">&#215;</a>
    <strong><%= t(:no_orders_found) %></strong>
  </div>
  <% else %>
  <div class="alert alert-info">
    <strong><%= t(:no_orders) %></strong>
  </div>
  <% end %>
<% end %>
<div id="modal-window" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true"></div>