<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-label"><%= t(:order_prompt) %></h3>
</div>

<div class="modal-body">
  <ul>
    <% if params[:part_deliver_state].blank? %>
        <% if current_user.roles == [User::ROLE_STRINGS.index('dispatcher').to_s] %>
            <li><%= link_to t(:new_orders_prompt_per_dispatcher, n: @orders.where(state: 0).count), orders_path(state: 0, dispatcher: current_user.id) %></li>
            <li><%= link_to t(:cancel_pending_orders_prompt_per_dispatcher, n: @orders.where(state: 10).count), orders_path(state: 10, dispatcher: current_user.id) %></li>
        <% else %>
            <li><%= link_to t(:new_orders_prompt, n: @orders.where(state: 0).count), orders_path(state: 0) %></li>
            <li><%= link_to t(:cancel_pending_orders_prompt, n: @orders.where(state: 10).count), orders_path(state: 10) %></li>
        <% end %>
    <% end %>
    <% if params[:part_deliver_state].present? && params[:part_deliver_state].to_i == 0 %>
    <li><%= link_to t(:not_delivered_orders_prompt, n: @orders.count), orders_path(states: [3, 4], part_deliver_state: 0) %></li>
    <% end %>
    <% if params[:part_deliver_state].present? && params[:part_deliver_state].to_i == 1 %>
    <li><%= link_to t(:not_backed_orders_prompt, n: @orders.count), orders_path(states: [5, 8], part_deliver_state: 1) %></li>
    <% end %>
  </ul>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ok') %></button>
</div>
