<%- model_class = Order -%>
<h5 id="basic_infos"><%= t(:basic_infos) %></h5>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= t(:state) %></td>
      <td><%= t(Order::STATE_STRINGS[@order.state]) %></td>
    </tr>
    <tr>
      <td><%= t(:car_number) %></td>
      <td><%= @order.car_location+ @order.car_num %></td>
    </tr>
    <tr>
      <td><%= t(:phone_num) %></td>
      <td><%= @order.phone_num %></td>
    </tr>
    <tr>
      <td><%= t(:address) %></td>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <td><%= t(:client_name) %></td>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <td><%= t(:auto_owner_name) %></td>
      <td><%= @order.auto_owner_name %></td>
    </tr>
    <tr>
      <td><%= t(:user_type) %></td>
      <td><%= @order.user_type.name if @order.user_type %></td>
    </tr>
    <tr>
      <td><%= t(:curr_dispatcher) %></td>
      <td><%= @order.dispatcher.name if @order.dispatcher %></td>
    </tr>
    <tr>
      <td><%= t(:serve_datetime) %></td>
      <td><%= l @order.serve_datetime %></td>
    </tr>
    <tr>
      <td><%= t(:serve_end_datetime) %></td>
      <td><%= l @order.serve_end_datetime if @order.serve_end_datetime %></td>
    </tr>
    <tr>
      <td><%= t(:auto_submodel) %></td>
      <td><%= @order.auto_submodel ? @order.auto_submodel.full_name : t(:nil_auto_model) %></td>
    </tr>
    <tr>
      <td><%= t(:auto_reg_date) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= l @order.maintains.first.buy_date if @order.maintains.first.buy_date %>
        <% else %>
          <%= l @order.registration_date if @order.registration_date %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:vin) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.VIN %>
        <% else %>
          <%= @order.vin %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:engine_num) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.engine_num %>
        <% else %>
          <%= @order.engine_num %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:auto_km) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.curr_km %>
        <% else %>
          <%= @order.auto_km %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:oil_out) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.oil_out %>
        <% else %>
          <%= @order.oil_out %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:oil_in) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.oil_in %>
        <% else %>
          <%= @order.oil_in %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:auto_km_next) %></td>
      <td>
        <% if @order.maintains.exists? %>
          <%= @order.maintains.first.next_maintain_km %>
        <% else %>
          <%= @order.auto_km_next %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:maintain_record) %></td>
      <td>
        <% @order.maintains.desc(:created_at).each do |m| %>
          <p><%= link_to t(:view), maintain_path(m), :class => 'btn btn-info' %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t(:assigned_to_engineer) %></td>
      <td><%= @order.engineer.name if @order.engineer %></td>
    </tr>
    <tr>
      <td><%= t(:assigned_to_engineer2) %></td>
      <td><%= @order.engineer2.name if @order.engineer2 %></td>
    </tr>
  </tbody>
</table>

<h5 id="service_types"><%= t(:service_types) %></h5>
<table class="table table-striped">
  <tbody>
    <% for st in @order.service_types %>
    <tr>
      <td><%= st.name%></td>
      <td><%= humanized_money_with_symbol st.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h5 id="parts"><%= t(:part) %></h5>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= t(:buymyself) %></td>
      <td>
        <% if @order.buymyself? %>
          <%= t(:shi) %>
        <% else %>
          <%= t(:fou) %>
        <% end %>
      </td>
    </tr>
    <% if !@order.buymyself %>
    <tr>
      <td><%= t(:part_infos) %></td>
      <td><%= render 'parts_table', readonly: true %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h5 id="pay-infos"><%= t(:pay_info) %></h5>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= t(:discount) %></td>
      <td><%=@order.discounts.first.name  if @order.discounts.exists? %></td>
    </tr>
    <tr>
      <td><%= t(:price_info) %></td>
      <td><%= render 'price_detail' %></td>
    </tr>
    <tr>
      <td><%= t(:pay_type) %></td>
      <td><%= t(Order::PAY_TYPE_STRINGS[@order.pay_type]) %></td>
    </tr>
    <tr>
      <td><%= t(:reciept_type) %></td>
      <td><%= t(Order::RECIEPT_TYPE_STRINGS[@order.reciept_type]) %></td>
    </tr>
    <tr>
      <td><%= t(:reciept_title) %></td>
      <td><%= @order.reciept_title %></td>
    </tr>
    <tr>
      <td><%= t(:reciept_address) %></td>
      <td><%= @order.reciept_address %></td>
    </tr>
  </tbody>
</table>
  
<h5 id="others"><%= t(:others) %></h5>
  <table class="table table-striped">
    <tbody>
      <% @order.comments.each do |c|%>
      <tr>
        <td colspan="2"><%= text_area_tag 'comment', c.text, {:size => '80x3', :disabled => true} %></td>
      </tr>
      <% end %>
      <tr>
        <td><%= t(:client_comment) %></td>
        <td><%= @order.client_comment %></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-strped">
    <tbody>
    <% @order.pictures.each do |p| %>
      <tr>
        <td><%= image_tag( p.p.url(:small)) %></td>
        <td><%= p.p_file_name %></td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                order_picture_path(@order, p),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
