<div class="control-group">
  <div class="controls well text-info">
    <p><strong>
      <%= t(:services_price) + ' ' + humanized_money_with_symbol(@order.calc_service_price) %>
    </strong></p>
    <p><strong>
      <%= t(:services_detail) + ' ' + @order.services_price_info %>
    </strong></p>
    
    <% if @order.calc_parts_price > 0 %>
    <p><strong>
      <%= t(:parts_price) + ' ' + humanized_money_with_symbol(@order.calc_parts_price) %>
    </strong></p>
    <p><strong>
      <%= t(:parts_detail) + ' ' + @order.parts_price_info %>
    </strong></p>
    <% end %>
    <% if @order.discounts.exists? %>  
    <p><strong>
      <%= t(:discount_info) + ': ' %>
      <%= @order.discounts.first.name if @order.discounts.exists? %>
    </strong></p>
    <% end %>
    
    <% if @order.balance_pay > 0 %>
      <p><strong>
      <%= t(:balance_pay) + ' ' + humanized_money_with_symbol(@order.balance_pay) %>
      </strong></p>
    <% end %>
      
    <h3>  
      <%= t(:summary_price) + " " + humanized_money_with_symbol(@order.calc_price) %>
    </h3>
  </div>
</div>
