<div data-role="page">
  <div data-role="header">
    <h1><%= t(:choose_auto_brand) %></h1>
    <a href="<%= order_begin_path(format: :mobile) %>" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
  </div>
  
  <div data-role="content" class="ui-content-auro-brands">
    <% letter_to_li = {} %>
    <ul data-role="listview" id="auto-brand-list" data-autodividers="true">
      <% AutoBrand.asc(:name_pinyin).each_with_index do |ab, i| %>
      <li pinyin="<%= ab.name_pinyin.capitalize[0] %>" id="brand-li-<%= i %>">
        <%= link_to ab.name_with_jinkou, order_choose_auto_model_path(format: :mobile, auto_brand: ab.id), {"data-transition" => "slide"} %>
        <% letter_to_li[ab.name_pinyin.capitalize[0]] = "brand-li-#{i}" if !letter_to_li[ab.name_pinyin.capitalize[0]] %>
      </li>
      <% end %>
    </ul>
    <div class="right-nav" id="">
      <% letter_to_li.each do |k, v| %>
        <span data-target="#<%= v %>" class="first-letter-nav"><%= k %></span><br>
      <% end %>
    </div>
  </div>
</div>
