<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body style="padding-top: 0px;">
    <div id="hsplitter" style="width: 100%; height: 700px;">
      <div id="vsplitter">
        <div id="assigned-orders-div">
          <h5><%= l @d %>&nbsp<%= t 'engineer_work_plan' %></h5>
          <table class="table table-hover table-bordered table-condensed" id="engineer-order-list">
            <thead>
              <tr>
                <th><%= t(:dianbu_engineer_seq) %></th>
                <th><%= t :serve_datetime %></th>
                <th><%= t :address %></th>
              </tr>
            </thead>
            <tbody>
              <% @storehouse_engineers.each do |k, es| %>
                <% if k %>
                  <tr class="warning assigned-dianbu-tr" data-id="<%= k.id %>">
                    <td colspan="3"><a class="dianbu-a" href="#"><strong><%= k.name %></strong></a>&nbsp<span class="badge badge-info"><%= es.sum {|e| (@engineer_order_hash[e] || []).size} %></span></td>
                  </tr>
                <% else %>
                  <tr class="warning" id="dianbu-none">
                    <td colspan="3"><strong><%= t(:individual_engineer) %></strong></td>
                  </tr>
                <% end %>
                <% es.each do |e| %>
                  <% a = @engineer_order_hash[e] || [] %>
                  <tr class="engineer-tr error" id="<%= e.id %>">
                    <td colspan="3">&nbsp&nbsp&nbsp&nbsp<strong><%= e.name %></strong>&nbsp<span class="badge badge-success"><%= a.size %></span></td>
                  </tr>
                  <%= render 'engineer_daily_orders', orders: a %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="unassigned-orders-div">
          <h5><%= l @d %>&nbsp<%= t 'unassigned' %></h5>
          <table class="table table-bordered table-condensed table-hover unassigned-orders" id="unassigned-orders-list">
            <thead>
              <tr>
                <th><%= t :city_dianbu_seq %></th>
                <th><%= t :serve_datetime %></th>
                <th><%= t :address %></th>
              </tr>
            </thead>
            <tbody>
              <% @storehouses.asc(:city).each do |s| %>
                <tr class="dianbu-tr warning" data-id="<%= s.id %>">
                  <td colspan="3"><a class="dianbu-a" href="#"><strong><%= s.name %></strong></a>&nbsp<span class="badge badge-info">0</span></td>
                </tr>
              <% end %>
              <% @city_names.each do |k, v| %>
                <tr class="city-tr" id="city-<%= k %>" data-name="<%= v %>">
                  <td colspan="3"><strong><%= v %></strong></td>
                </tr>
              <% end %>
              <%= render 'engineer_daily_orders', orders: @unassigned_orders %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <%= render 'dianbu_map' %>
  </body>
</html>
