<%- model_class = Order -%>
<div class="page-header">
  <h4>
  <% if params[:state] && params[:state] != '' %>
    <%= t(:orders) + ' - ' + t(Order::STATE_STRINGS[params[:state].to_i])  %>
  <% else %>
    <%= t(:orders) %>
  <% end %>
  <%= link_to t('create_order'), new_order_path, :class => 'btn btn-primary pull-right' if can? :create, Order %>
  </h4>
  <% if mobile_device? %>
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t 'list_by_state' %> <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to t(:all) + ' (' + Order.count.to_s + ')', orders_path %></li>
      <% Order::STATES.each do |s| %>
        <li><%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).count.to_s + ')', orders_path(state: s) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<a class="btn btn-link" data-target="#order-search-form" data-toggle="collapse"><%= t(:view_search) %></a>
<% if mobile_device? %>
<div id="order-search-form" class="collapse">
<% else %>  
<div id="order-search-form" class="collapse in">
<% end %>
  <%= form_tag orders_path, :method => 'get', :id => "orders_search", :class => 'form-horizontal' do %>
    <input name="state" type="hidden" value="<%= params[:state] %>" />
    <div class="control-group">
      <%= label_tag :phone_num, t('phone_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :phone_num, params[:phone_num], class: 'control', placeholder: t(:phone_num_hint) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :customer_name, t('customer_name'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :customer_name, params[:customer_name], class: 'control' %>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :city, t('cities'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="city" id="city">
          <% if params[:city].nil? || params[:city] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% City.asc(:name).each do |t| %>
            <% if params[:city] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <%= label_tag :address, t('address'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :address, params[:address], class: 'control' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :car_num, t('car_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :car_num, params[:car_num], class: 'control', placeholder: t(:car_num_hint) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :serve_datetime_start, t('serve_datetime_segment'), class: 'control-label' %>
      <div class="controls form-inline" id="serve_datetime">
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="serve_datetime_start" value="<%= params[:serve_datetime_start] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <%= t :to %>
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="serve_datetime_end" value="<%= params[:serve_datetime_end] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :seq, t('order_id'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :seq, params[:seq], class: 'control' %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :user_type, t('user_type'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="user_type" id="user_type">
          <% if params[:user_type].nil? || params[:user_type] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% UserType.asc(:name).each do |t| %>
            <% if params[:user_type] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :engineer, t('engineer'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="engineer" id="engineer">
          <% if params[:engineer].nil? || params[:engineer] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% User.asc(:name).select { |u| u.roles.include? User::ROLE_STRINGS.index('engineer').to_s }.each do |t| %>
            <% if params[:engineer] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t(:search), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xmcLHVWegnz5MYzrExa46wqg"></script>
<a class="btn btn-link" data-target="#map-div" data-toggle="collapse"><%= t(:view_map) %></a>
<div id="map-div" class="collapse">
  <div class="row">
    <div class="span12" id="map" style="height: 600px;">
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    // 百度地图API功能
    var map = new BMap.Map("map");
    map.enableScrollWheelZoom();
    map.enableContinuousZoom();
    
    //$('#map-div').on('show', function () {
      var myGeo = new BMap.Geocoder();
      var colors = {'0':'black', '1':'yellow', '2':'blue', '3':'red', '4':'green', '5':'black', '6':'black', '7':'black', '8':'grey'};
      points = [
      <% @orders.select {|x| x.state >= 2 && x.state <=4 && x.city && x.city.name == t(:beijing) }.each do |o| %>
        {
          seq: "<%= o.seq %>",
          state: "<%= t(Order::STATE_STRINGS[o.state]) %>",
          address: "<%= o.address %>",
          city: "<%= o.city.name %>",
          color: colors["<%= o.state %>"] },
      <% end %>
      ]
      points.forEach(function(v, i) {
        myGeo.getPoint(v.address, function(point){
          if (point) {
            map.centerAndZoom(point,12);
            marker = new BMap.Marker(point);
            marker.addEventListener("click", function(type, target) {
              document.getElementById(v.seq).scrollIntoView();
            });
            map.addOverlay(marker);
            var label = new BMap.Label(v.seq + ' ' + v.state + ": " + v.address, {position: point, offset:new BMap.Size(0, 0)} );  // 创建文本标注对象
            label.setStyle({
              color : v.color,
              fontSize : "12px",
              height : "20px",
              lineHeight : "20px",
              fontFamily:"微软雅黑"
            });
            label.addEventListener("click", function(type, target) {
              var prev = $('#order-' + v.seq).prev().prev();
              if(prev.size() <= 0)
                prev = $('#order-table');
              document.getElementById(prev.attr("id")).scrollIntoView();
            });
            map.addOverlay(label);
          }
        }, v.city);
      });
    });
  //});
</script>

<div id="order-list">
  <%= t(:total, count: @orders.size) %><br/>
  <%= render 'orders' %>
</div>

<% if params[:history] %>
<div class="well">
  <h4><%= t(:op_history) %></h4>
  <div id="history_trackers"><%= render 'history' %></div>
</div>
<% end %>
