<%- model_class = Order -%>
<div class="page-header">
  <h4>
  <%= t(:orders) %>
  <% if params[:state].present? || params[:states].present? %>
    <% if params[:part_deliver_state] == '0' %>
      <%= ' - ' + t(:to_be_delivered) %>
    <% elsif params[:part_deliver_state] == '1' %>
      <%= ' - ' + t(:to_be_backed) %>
    <% elsif params[:state].present? %>
      <%= ' - ' + t(Order::STATE_STRINGS[params[:state].to_i])  %>
    <% end %>
  <% end %>
  <% if params[:auto_submodel].present? %>
    <%= ' - ' + AutoSubmodel.find(params[:auto_submodel]).full_name %>
  <% end %>
  <%= link_to t('create_order'), new_order_path, :class => 'btn btn-primary pull-right' if can? :create, Order %>
  </h4>
  <% if mobile_device? %>
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%= t 'list_by_state' %> <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><%= link_to t(:all) + ' (' + Order.count.to_s + ')', orders_path %></li>
      <% Order::STATES.each do |s| %>
        <li><%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).count.to_s + ')', orders_path(state: s) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<a class="btn btn-link" data-target="#order-search-form" data-toggle="collapse"><%= t(:view_search) %></a>
<% if mobile_device? %>
<div id="order-search-form" class="collapse">
<% else %>  
<div id="order-search-form" class="collapse in">
<% end %>
  <%= form_tag orders_path, :method => 'get', :id => "orders_search", :class => 'form-horizontal' do %>
    <input name="state" type="hidden" value="<%= params[:state] %>" />
    <% if params[:states].present? %>
      <% params[:states].each do |s| %>
        <input name="states[]" type="hidden" value="<%= s %>" />
      <% end %>
    <% end %>
    <input name="part_deliver_state" type="hidden" value="<%= params[:part_deliver_state] %>" />
    <div class="control-group">
      <%= label_tag :phone_num, t('phone_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :phone_num, params[:phone_num], class: 'control', placeholder: t(:phone_num_hint) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :customer_name, t('customer_name'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :customer_name, params[:customer_name], class: 'control' %>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :city, t('cities'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="city" id="city">
          <% if params[:city].nil? || params[:city] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% City.asc(:name).each do |t| %>
            <% if params[:city] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <%= label_tag :address, t('address'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :address, params[:address], class: 'control' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :car_num, t('car_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :car_num, params[:car_num], class: 'control', placeholder: t(:car_num_hint) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :serve_datetime_start, t('serve_datetime_segment'), class: 'control-label' %>
      <div class="controls form-inline" id="serve_datetime">
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="serve_datetime_start" id="serve_datetime_start" value="<%= params[:serve_datetime_start] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <%= t :to %>
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="serve_datetime_end" id="serve_datetime_end" value="<%= params[:serve_datetime_end] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <div class="btn-group">
          <a class="btn serve-datetime-shortcut" data-msg="<%= Date.today.strftime '%Y-%m-%d' %>"><%= t(:today) %></a>
          <a class="btn serve-datetime-shortcut" data-msg="<%= Date.tomorrow.strftime '%Y-%m-%d' %>"><%= t(:tomorrow) %></a>
          <a class="btn serve-datetime-shortcut" data-msg="<%= Date.tomorrow.tomorrow.strftime '%Y-%m-%d' %>"><%= t(:the_day_after_tomo) %></a>
          <a class="btn serve-datetime-clear"><%= t(:clear) %></a>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :create_at_start, t('created_at_segment'), class: 'control-label' %>
      <div class="controls form-inline" id="create_at">
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="created_at_start" id="created_at_start" value="<%= params[:created_at_start] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <%= t :to %>
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="created_at_end" id="created_at_end" value="<%= params[:created_at_end] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <div class="btn-group">
          <a class="btn created-at-shortcut" data-msg="<%= Date.today.strftime '%Y-%m-%d' %>"><%= t(:today) %></a>
          <a class="btn created-at-shortcut" data-msg="<%= Date.yesterday.strftime '%Y-%m-%d' %>"><%= t(:yesterday) %></a>
          <a class="btn created-at-clear"><%= t(:clear) %></a>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :seq, t('order_id'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :seq, params[:seq], class: 'control' %>
      </div>
    </div>
    <div class="control-group select">
      <%= label_tag :user_type, t('user_type'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="user_type" id="user_type">
          <% if params[:user_type].nil? || params[:user_type] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% UserType.asc(:name).each do |t| %>
            <% if params[:user_type] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :engineer, t('engineer'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="engineer" id="engineer">
          <% if params[:engineer].nil? || params[:engineer] == '' %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% User.asc(:name).select { |u| u.roles.include? User::ROLE_STRINGS.index('engineer').to_s }.each do |t| %>
            <% if params[:engineer] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="control-group select">
      <%= label_tag :dispatcher, t('dispatcher'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="dispatcher" id="dispatcher">
          <% if params[:dispatcher].blank? %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% User.asc(:name).select { |u| u.roles.include? User::ROLE_STRINGS.index('dispatcher').to_s }.each do |t| %>
            <% if params[:dispatcher] == t.id.to_s %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    
    <div class="control-group select">
      <%= label_tag :reciept_type, t('reciept_type'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="reciept_type" id="reciept_type">
          <% if params[:reciept_type].blank? %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% Order::RECIEPT_TYPES.each do |type| %>
            <% if !params[:reciept_type].blank? && params[:reciept_type].to_i == type %>
              <option value="<%= type %>" selected><%= t(Order::RECIEPT_TYPE_STRINGS[type]) %></option>
            <% else %>
              <option value="<%= type %>"><%= t(Order::RECIEPT_TYPE_STRINGS[type]) %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    
    <div class="control-group select">
      <%= label_tag :reciept_state, t('reciept_state'), class: 'control-label' %>
      <div class="controls form-inline">
        <select name="reciept_state" id="reciept_state">
          <% if params[:reciept_state].blank? %>
            <option value="" selected><%= t :all %></option>
          <% else %>
            <option value=""><%= t :all %></option>
          <% end %>
          <% Order::RECIEPT_STATES.each do |s| %>
            <% if !params[:reciept_state].blank? && params[:reciept_state].to_i == s %>
              <option value="<%= s %>" selected><%= t(Order::RECIEPT_STATE_STRINGS[s]) %></option>
            <% else %>
              <option value="<%= s %>"><%= t(Order::RECIEPT_STATE_STRINGS[s]) %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t(:search), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="navbar navbar-fixed-bottom">
  <a href="#" class="btn btn-success" data-target="#modal-map" data-toggle="modal"><i class="icon-map-marker"></i><%= t(:view_map) %></a>
</div>
<div id="modal-map" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true" style="position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; padding: 0; margin: 0 !important;">
  <div>
    <button type="button" class="btn btn-info pull-right" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <button type="button" class="btn btn-info pull-left" data-dismiss="modal" aria-hidden="true"><%= t(:close) %></button>
    <select id="engineer-select" class="pull-left"></select>
    <button type="button" class="btn btn-success pull-left" id="locate-engineer-btn"><%= t(:locate_engineer) %></button>
  </div>
  <div id="map" style="width: 100%; height: 100%;"></div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xmcLHVWegnz5MYzrExa46wqg"></script>
<script type="text/javascript">
$(function() {
    var map = new BMap.Map("map");
    map.enableScrollWheelZoom();
    map.enableContinuousZoom();
    var point = new BMap.Point(116.393773, 39.989387);
    map.centerAndZoom(point,12);

    stations = [
      {lo: 116.393773, la: 39.989387},
      {lo: 116.281635, la: 39.957515},
      {lo: 116.353042, la: 39.855491},
      {lo: 116.462558, la: 39.866659},
      {lo: 116.543052, la: 39.875762},
      {lo: 116.495819, la: 39.960586},
      {lo: 116.304563, la: 40.101134},
    ]
    stations.forEach(function(v, i) {
      var point = new BMap.Point(v.lo, v.la);
      var circle1 = new BMap.Circle(point,300,{fillColor: "blue", fillOpacity: 1.0});
      map.addOverlay(circle1);
      var circle2 = new BMap.Circle(point,5000,{fillColor: "red", fillOpacity: 0.1, strokeColor:"blue", strokeWeight:1, strokeOpacity:0.1});
      map.addOverlay(circle2);
    });
    var colors = {'0':'black', '1':'yellow', '2':'blue', '3':'red', '4':'green', '5':'black', '6':'black', '7':'black', '8':'grey'};
    points = [
    <% @orders.select {|x| [0,2,3,4].include? x.state }.each do |o| %>
      {
        seq: "<%= o.seq %>",
        state: "<%= t(Order::STATE_STRINGS[o.state]) %>",
        address: "<%= o.address %>",
        city: "<%= o.city.name %>",
        color: colors["<%= o.state %>"] },
    <% end %>
    ];
    points.forEach(function(v, i) {
        var options = {
            onSearchComplete: function(results) {
                if (local.getStatus() != BMAP_STATUS_SUCCESS)
                    return;
                for(var i = 0; i < results.length; i++) {
                    if(results[i].getCurrentNumPois() <= 0)
                        continue;
                    $('#mm-' + v.seq).fadeIn();
                    var label = new BMap.Label(v.seq, {position: results[i].getPoi(0).point, offset:new BMap.Size(1,-7)} );
                    label.setStyle({
                      color : v.color,
                      fontSize : "12px",
                      height : "20px",
                      lineHeight : "20px",
                      fontFamily:"微软雅黑"
                    });
                    label.addEventListener("click", function(type, target) {
                      var prev = $('#order-' + v.seq).prev().prev();
                      if(prev.size() <= 0)
                        prev = $('#order-table');
                      document.getElementById(prev.attr("id")).scrollIntoView();
                      $('#modal-map').modal('hide');
                    });
                    label.addEventListener("mouseover", function(type, target) {
                      this.setContent(v.seq + ' ' + v.state + ': ' + v.address);
                      this.setZIndex(100);
                    });
                    label.addEventListener("mouseout", function(type, target) {
                      this.setContent(v.seq);
                    });
                    map.addOverlay(label);
                    marker = new BMap.Marker(results[i].getPoi(0).point);
                    marker.addEventListener("click", function(type, target) {
                      var prev = $('#order-' + v.seq).prev().prev();
                      if(prev.size() <= 0)
                        prev = $('#order-table');
                      document.getElementById(prev.attr("id")).scrollIntoView();
                    });
                    map.addOverlay(marker);
                    break;
                }
            }
        };
        var local = new BMap.LocalSearch(map, options);
        a = [];
        for(var i = v.address.length; i >= 9;i -= 3) { a[a.length] = v.address.substring(0,i); }
        if(a.length > 0)
            local.search(a);
    });
    window.map = map;
    window.engineer_markers = [];
    var timer = null;
    function timer_func() {
        $.getScript('<%= get_user_realtime_info_path %>');
        timer = setTimeout(timer_func, 1 * 60 * 1000);
    }
    $('#modal-map').on('show', function () {
      if(!timer) {
        timer = setTimeout(timer_func, 0);
      }
    });
    $('#modal-map').on('hidden', function () {
      if(timer) {
        clearTimeout(timer);
        timer = null;  
      }
    });
    $('#locate-engineer-btn').click(function (e) {
      var textSelected   = $("option:selected", $('#engineer-select')).text();
      window.engineer_markers.every(function(v) {
        if(v.getTitle() == textSelected) {
          map.centerAndZoom(v.getPosition(), 13);
          return false;
        }
        return true;
      });
    });
});
</script>

<div id="order-list">
  <%= t(:total, count: @orders.size) %><br/>
  <%= render 'orders' %>
</div>

<% if params[:history] %>
<div class="well">
  <h4><%= t(:op_history) %></h4>
  <div id="history_trackers"><%= render 'history' %></div>
</div>
<% end %>
