<%- model_class = Order -%>
<div class="page-header">
  <h4>
  <% if params[:state] %>
    <%= t(:orders) + ' - ' + t(Order::STATE_STRINGS[params[:state].to_i])  %>
  <% else %>
    <%= t(:orders) %>
  <% end %>
  <%= link_to t('create_order'), new_order_path, :class => 'btn btn-primary pull-right' %>
  </h4>
</div>
<div id="order-list">
  <%= render 'orders' %>
</div>

<div class="well">
  <h4><%= t(:op_history) %></h4>
  <div id="history_trackers"><%= render 'history' %></div>
</div>
