<div data-role="page">
  <div data-role="header">
    <h1><%= t(:order_preview) %></h1>
    <a href="<%= order_finish_path(format: :mobile) %>" class="ui-btn-left" data-transition="slide" data-direction="reverse"><%= t(:prev) %></a>
  </div>
  
  <div data-role="content">
    <%= render :partial => 'order', locals: { preview: true } %>
    <%= simple_nested_form_for @order, :html => { class: "form-horizontal", data: {transition: 'slide'} },  :method => 'post', :url => orders_path(format: :mobile, use_session: true) do |f| %>
      <%= f.button :submit, t(:finish), "data-role" => "button", "data-theme" => 'b' %>
    <% end %>
  </div>
</div>
