<div data-role="page">
  <div data-role="header">
    <h1><%= t(:Kalading) %></h1>
  </div>
  
  <div data-role="content">
  <%= simple_nested_form_for @order, :html => { class: "form-horizontal", data: {transition: 'slide'} },  :method => 'get', :url => order_choose_service_path(format: :mobile) do |f| %>
    <label for="div-location"><%= t(:car_num) %></label>
    <div class="ui-grid-a" id="div-location">
      <div class="ui-block-a" style="width:30%">
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= f.input :car_location, collection: t(:locations).split  %>
        </div>
      </div>
      <div class="ui-block-b" style="width:70%">
        <div data-role="fieldcontain" class="ui-hide-label">
          <%= f.input_field :car_num, class: "input-small", minlength: "6", maxlength: "6", "data-msg-required" => t(:car_num_required), "data-msg-minlength" => t(:car_num_minlength), "data-msg-maxlength" => t(:car_num_minlength), placeholder: t(:five_bits_num) %>
        </div>
      </div>
    </div>
    <p><label for="div-link-to-autobrand"><%= t(:auto_submodel) %></label></p>
    <% if @order.auto_submodel %>
    <%= f.input :auto_submodel, :as => :hidden, :input_html => { :value => @order.auto_submodel.id } %>
    <p><%= f.button :submit, '', "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", name: "choose_auto_brand", value: @order.auto_submodel.full_name %></p>
    <p><%= f.button :submit, t(:next), "data-role" => "button", "data-theme" => 'b' %></p>
    <% else %>
    <p><%= f.button :submit, '', "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", name: "choose_auto_brand", value: t(:choose_auto_submodel) %></p>
    <% end %>
  <% end %>
  </div>
</div>
