<h4>
  <% if params[:all].to_i == 1 %>
    <%= t 'cities_all_order_stats' %>
  <% else %>
    <%= t 'cities_finished_order_stats' %>
  <% end %>
</h4>
<div>
  <%= form_tag order_stats_path, :method => 'get', :id => "order_stats", :class => 'form-horizontal' do %>
  <input name="disable_sidebar" type="hidden" value="1" />
    <div class="control-group">
      <%= label_tag :start_time, t(:serve_datetime_segment), class: 'control-label' %>
      <div class="controls form-inline" id="start_time">
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="start_time" id="start_time" value="<%= params[:start_time] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <%= t :to %>
        <div class="form-inline input-append form_datetime">
          <input data-format="yyyy-MM-dd" type="text" name="end_time" id="end_time" value="<%= params[:end_time] %>"></input>
          <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
        </div>
        <%= submit_tag t(:ok), class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="maintain_only"><%= t(:maintain_only) %></label>
      <div class="controls">
        <% if params[:maintain_only].to_i == 1 %>
          <input class="boolean optional" id="maintain_only" name="maintain_only" type="checkbox" value="1" checked="checked"/>
        <% else %>
          <input class="boolean optional" id="maintain_only" name="maintain_only" type="checkbox" value="1"/>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="maintain_only"><%= t(:all_orders) %></label>
      <div class="controls">
        <% if params[:all].to_i == 1 %>
          <input class="boolean optional" id="all" name="all" type="checkbox" value="1" checked="checked"/>
        <% else %>
          <input class="boolean optional" id="all" name="all" type="checkbox" value="1"/>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :user_type, t('user_type'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= collection_select(nil, nil, UserType.asc(:name), :id, :name, {:include_blank => t(:all), :selected => params[:user_type]}, {:class=>'control', :id => 'user_type', :name => 'user_type'}) %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "highcharts", "chartkick" %>
<script>
  Highcharts.setOptions({
    lang: {
      months: <%= raw t(:months).split %>,
      weekdays: <%= raw t(:weekdays).split %>,
      shortMonths: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      }
    }
  );
</script>
<%= line_chart Order.sum_by_city(@cities, 'serve_datetime', Time.parse(params[:start_time] + ' 00:00:00'), Time.parse(params[:end_time] + ' 23:59:59'), @conditions),
  height: 640,
  library: {
     xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { day: t(:datetime_format) }
    },
    yAxis: {
        title: {
          text: t(:finished_orders)
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: t(:order_unit)
    },
    legend: {
        title: {
            text: t(:city_click_to_hide),
            style: {
                fontStyle: 'italic'
            }
        },
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -10,
        y: 100
    },
  }
%>