<div class="selectors">
  <%= form_tag part_transfers_path, method: "get", class: "form-horizontal" do %>

    <div class="control-group select">
      <%= label_tag :aasm_state, "状态", class: 'control-label' %>
      <div class="controls form-inline">
        <%= select_tag(:aasm_state, options_for_select(
          PartTransfer.aasm.states.map(&:name).map do |state_name|
            [t(state_name), state_name]
          end, params[:aasm_state]
        ), {prompt: t(:all)}) %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :target_storehouse_id, t('target_storehouse'), class: 'control-label' %>
      <div class="controls">
        <%= collection_select(nil, nil, Storehouse.asc(:city_id), :id, :name, {include_blank: t(:all), :selected => params[:target_sh]}, {:name => :target_sh}) %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn"><%= t :search %></button>
      </div>
    </div>
  <% end %>
</div>
