<%= simple_form_for resource, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :work_tag_number, label: t(:work_tag_number) %>

  <%= f.association :city, label: t('choose_city'), collection: City.asc(:name), :include_blank => false %>

  <%= f.input :name, label: t('user_name') %>

  <%= f.input :name_pinyin, label: t('pinyin') if params[:action] != 'new' %>

  <%= f.input :phone_num, label: t('phone_num') %>

  <%= f.input :email, :required => true, :autofocus => true %>

  <%= f.association :storehouse, label: t('belong'), collection: Storehouse.sections.asc(:name) %>

  <%= f.input :remark, label: t('remark'), as: :text, :input_html => { :cols => 50, :rows => 3 } %>

  <% if params[:action] == 'new' %>
    <%= f.input :password,  label: t(:password), :required => true %>
    <%= f.input :password_confirmation,  label: t(:password_confirmation), :required => true %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, t(:save), class: 'btn-primary' %>
    <%= link_to t(:cancel), engineers_path, class: 'btn' %>
  </div>
<% end %>
