<tr>
  <td><%= assignee.city.name %></td>
  <td><%= assignee.name %></td>

  <% if assignee.current_tool_assignments_count > 0 -%>
    <td>
      <%= link_to assignee.current_tool_assignments_count, send("tool_assignments_#{assignee.model_name.underscore}_path", assignee) %>
    </td>
  <% else -%>
    <td><%= assignee.current_tool_assignments_count %></td>
  <% end -%>

  <td><%= assignee.discarded_assignments_count %></td>
  <td>
    <% if can? :create, ToolAssignment -%>
      <%= link_to t('mongoid.attributes.tool_assignment.assign'),
        prepare_tool_assignments_path(assignee_id: assignee.id, assignee_type: assignee.model_name),
        class: 'btn btn-small btn-primary' %>
    <% end -%>
  </td>
</tr>
