<tr>
  <td><%= assignee.city.name %></td>
  <td>
    <%= link_to assignee.name, send("tool_assignments_#{assignee.model_name.underscore}_path", assignee) %>
  </td>
  <td><%= assignee.current_tool_assignments_count %></td>
  <td><%= assignee.to_be_assigned_tools_count %></td>
  <td><%= assignee.discarded_assignments_count %></td>
  <td>
    <% if (assignee.to_be_assigned_tools_count > 0 || assignee.discarded_assignments_count > 0) && can?(:create, ToolAssignment) -%>
      <%= link_to t('mongoid.attributes.tool_assignment.assign'),
        check_batch_tool_assignments_path(assignee_id: assignee.id, assignee_type: assignee.model_name),
        class: 'btn btn-small btn-primary' %>
    <% end -%>
  </td>
</tr>
