<%= paginate @auto_submodels %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t 'modelyear_displacement' %></th>
      <th><%= t 'motoroil_capacity' %></th>
      <th><%= t 'engine_displacement' %></th>
      <th><%= t 'engine_model' %></th>
      <th><%= t 'auto_parts' %></th>
      <th><%= t 'auto_count' %></th>
      <th><%= t 'service_level' %></th>
      <th><%= t 'match_rule' %></th>
      <th><%= t 'update_time' %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% colors = %w[success error info warning] %>
    <% i = 0 %>
    <% @auto_submodels.each do |auto_submodel| %>
      <tr class="<%= colors[ i % colors.length] %>">
      <% i += 1 %>
        <td><%= link_to auto_submodel.full_name, auto_submodel_path(auto_submodel), :target => '_blank' %></td>
        <td><%= auto_submodel.motoroil_cap %></td>
        <td><%= auto_submodel.engine_displacement %></td>
        <td><%= auto_submodel.engine_model %></td>
        <td>
          <%= link_to t(:view), auto_submodel, :target => '_blank' %>
        </td>
        <td><%= auto_submodel.autos.count %></td>
        <td><%= t(auto_submodel.service_level) %></td>
        <td><%= auto_submodel.match_rule %></td>
        <td><%= l auto_submodel.updated_at %></td>
        <td>
          <%= link_to t('edit'), edit_auto_submodel_path(auto_submodel), :class => 'btn btn-mini', :target => '_blank' if can? :update, auto_submodel %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @auto_submodels %>
<p><strong><%= t('total', count: @auto_submodels.count )%></strong></p>