<%= paginate @auto_submodels %>
<p><strong><%= t('total', count: @auto_submodels.count )%></strong></p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t 'owner_auto_brand' %></th>
      <!--<th><%= t 'own_model' %></th>-->
      <th><%= t 'auto_submodel_name' %></th>
      <th><%= t 'engine_model' %></th>
      <th><%= t 'year' %></th>
      <th><%= t 'motoroil_capacity' %></th>
      <th><%= t 'motoroil_group' %></th>
      <th><%= t 'engine_displacement' %></th>
      <th><%= t 'parts_store' %></th>
      <th><%= t 'order_count' %></th>
      <th><%= t 'service_level' %></th>
      <th><%= t 'match_rule' %></th>
      <th><%= t 'remark' %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% colors = %w[success error info warning] %>
    <% @auto_submodels.each_with_index do |auto_submodel, i| %>
      <tr class="<%= colors[ i % colors.length] %>">
        <td><%= link_to auto_submodel.auto_model.auto_brand.name, auto_submodel.auto_model.auto_brand, :target => '_blank' %></td>
        <!--<td><%= link_to auto_submodel.auto_model.name, auto_submodel.auto_model, :target => '_blank' %></td>-->
        <td><%= link_to auto_submodel.full_name, auto_submodel, :target => '_blank' %></td>
        <td><%= auto_submodel.engine_model %></td>
        <td><%= auto_submodel.year_range %></td>
        <td><%= auto_submodel.motoroil_cap %></td>
        <td><%= link_to auto_submodel.motoroil_group.name, auto_submodel.motoroil_group if auto_submodel.motoroil_group %></td>
        <td><%= auto_submodel.engine_displacement %></td>
        <td>
          <table>
            <thead>
              <tr>
                <th><%= t 'oil_filter_count' %></th>
                <th><%= t 'air_filter_count' %></th>
                <th><%= t 'cabin_filter_count' %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= auto_submodel.oil_filter_count %></td>
                <td><%= auto_submodel.air_filter_count %></td>
                <td><%= auto_submodel.cabin_filter_count %></td>
              </tr>
          </table>
        </td>
        <td><%= link_to auto_submodel.orders.count.to_s, orders_path(auto_submodel: auto_submodel), :class => 'btn btn-mini btn-info' %></td>
        <td><%= t(AutoSubmodel::SERV_LEVEL_STRINGS[auto_submodel.service_level]) %></td>
        <td>
          <ul>
          <% auto_submodel.part_rules.each do |r| %>
            <li><%= r.number + ': ' + r.text %></li>
          <% end %>
          </ul>
        </td>
        <td><%= auto_submodel.remark %></td>
        <td>
          <%= link_to t('edit'), edit_auto_submodel_path(auto_submodel), :class => 'btn btn-mini' if can? :update, auto_submodel %>
          <% if auto_submodel.data_source == 3 %>
            <%= link_to t(:verify_ok), auto_submodel_path(auto_submodel, auto_submodel: {data_source: 2} ), :method => :put, :class => 'btn btn-mini btn-info' if can? :update, auto_submodel %>
          <% elsif auto_submodel.data_source == 4 %>
            <%= link_to t(:show), auto_submodel_path(auto_submodel, auto_submodel: {data_source: 2} ), :method => :put, :class => 'btn btn-mini btn-info' if can? :update, auto_submodel %>
          <% else %>
            <%= link_to t(:hide), auto_submodel_path(auto_submodel, auto_submodel: {data_source: 4} ), :method => :put, :class => 'btn btn-mini btn-warning' if can? :update, auto_submodel %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @auto_submodels %>
<p><strong><%= t('total', count: @auto_submodels.count )%></strong></p>