<%- model_class = AutoSubmodel -%>
<div class="page-header">
  <h2><%=t 'auto_submodel_list' %>
  <!--<%= link_to t(:batch_edit_oil_cap), auto_submodels_oil_cap_edit_path, :class => 'btn btn-primary pull-right' %>-->
  <%= link_to t(:batch_edit_service_level),
              auto_submodels_service_level_edit_path,
              :class => 'btn btn-primary pull-right', :target => '_blank' if can? :update, AutoSubmodel %>
  <%= link_to t(:auto_submodels_edit_with_catalog),
              auto_submodels_edit_with_catalog_path,
              :class => 'btn btn-primary pull-right', :target => '_blank' if can? :update, AutoSubmodel %>
  </h2>
</div>

<div class="control-group select form-inline">
  <div class="controls">
    <%= collection_select :auto_model, :brand_id, AutoBrand.all, :id, :name, {}, {:rel => "/auto_brands", :class => 'control'} %>
    <%= collection_select :auto_submodel, :model_id, AutoBrand.first.auto_models.all, :id, :name, {}, {:rel => "/auto_models", :class => 'control'} %>
    <%= image_tag "ajax-loader.gif", :class => "loading-indicator", :style => "display: none;"%>
  </div>
</div>
<div class="control-group">
  <label for="search-car-model" class="control-label"><%= t(:auto_model_query) %></label>
  <div class="controls" id="search-car-model">
    <input class="required" type="text" autocomplete="off" id="car-model-search" data-link="<%= auto_submodels_path %>" placeholder="<%= t(:auto_model_search_hint) %>" value="" minlength="4" data-msg-required="<%= t(:auto_model_required) %>" data-msg-minlength="<%= t(:auto_model_minlength) %>"/>
    <%= label_tag "checkbox-data-source", t(:user_data_source_1), {class: "checkbox inline"} %>
    <%= check_box_tag "data_source", "1", false, {:id => "checkbox-data-source"} %>
    <%= image_tag "ajax-loader-small.gif", :class => "loading-indicator", :style => "display: none;"%>
  </div>
</div>

<div id="auto_submodels"><%= render 'auto_submodels' %></div>
