<%- model_class = AutoSubmodel -%>
<div class="page-header">
  <h1><%=t 'auto_submodel_list' %></h1>
</div>

<div class="control-group select form-inline">
  <div class="controls">
    <%= collection_select :auto_model, :brand_id, AutoBrand.all, :id, :name, {}, {:rel => "/auto_brands", :class => 'control'} %>
    <%= collection_select :auto_submodel, :model_id, AutoBrand.first.auto_models.all, :id, :name, {}, {:rel => "/auto_models", :class => 'control'} %>
    <span><%= t(:year) %></span>
    <%= collection_select :auto_submodel, :year, [t(:all)] + Array(1990..2014), :to_s, :to_s, {}, {:rel => "/auto_submodels", :class => 'control'} %>
    <%= image_tag "ajax-loader.gif", :class => "loading-indicator", :style => "display: none;"%>
  </div>
</div>

<!--<%= form_tag auto_submodels_path, :method => 'get', :id => "auto_submodels_search" do %>-->
<!--  <p>-->
    <!--<%= label_tag :search, t('search_by_model'), class: 'control-label' %>
    <%= text_field_tag :search, params[:search], class: 'control' %>-->
  <!--</p>-->
<!--<% end %>-->
<div id="auto_submodels"><%= render 'auto_submodels' %></div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_auto_submodel_path,
            :class => 'btn btn-primary' %>
