<%- model_class = AutoSubmodel -%>
<div class="page-header">
  <h1><%= @auto_submodel.auto_model.name %>&nbsp<%= @auto_submodel.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t(:full_name) %>:</strong></dt>
  <dd><%= @auto_submodel.full_name %></dd>
  <dt><strong><%= t(:motoroil_capacity) %>:</strong></dt>
  <dd><%= @auto_submodel.motoroil_cap %></dd>
</dl>
  <%= render 'parts', parts: @auto_submodel.parts_by_type_ignore_quantity %>

  <table class="table">
  <% @auto_submodel.pictures.each do |p| %>
    <tr>
      <td><%= image_tag( p.p.url(:small)) %></td>
      <td><%= p.p_file_name %></td>
      <td><%= link_to t('destroy'),
              auto_submodel_picture_path(@auto_submodel, p),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </table>


<div class="form-actions">
  <%= link_to t('return'),
              auto_submodels_path, :class => 'btn'  %>
  <%= link_to t('edit'),
              edit_auto_submodel_path(@auto_submodel), :class => 'btn' %>
</div>
