<% if @discount %>
<dl class="dl-horizontal">
  <dt><strong><%= t(:discount_name) %>:</strong></dt>
  <dd><%= @discount.name %></dd>
  <dt><strong><%= t(:final_price) %>:</strong></dt>
  <dd><%= @discount.final_price %></dd>
  <dt><strong><%= t(:discount) %>:</strong></dt>
  <dd><%= @discount.discount %></dd>
  <dt><strong><%= t(:discount_percent) %>:</strong></dt>
  <dd><%= @discount.percent %></dd>
  <dt><strong><%= t(:expire_date) %>:</strong></dt>
  <dd>
    <% if @discount.expire_date < Date.today %>
      <span class="text-error"><%= t(:discount_expired, s: (l @discount.expire_date ) ) %></span>
    <% else %>
      <%= l @discount.expire_date %>
    <% end %>
  </dd>
  <dt><strong><%= t(:available_times) %>:</strong></dt>
  <dd>
    <% if @discount.orders.count >= @discount.times %>
      <span class="text-error"><%= t(:discount_no_capacity) %></span>
    <% else %>
      <%= @discount.times - @discount.orders.count %>
    <% end %>
  </dd>
  <dt><strong><%= t(:service_types) %>:</strong></dt>
  <dd>
    <% if @discount.service_types.blank? %>
      <span ><%= t(:all) %></span>
    <% else %>
      <%= @discount.service_types.map{|s| s.name}.join(',') %>
    <% end %>
  </dd>
  
</dl>
<% else %>
  <span class="alert"><%= t(:discount_not_exist) %></span>
<% end %>