<%- model_class = Discount -%>
<div>
  <%= link_to t(:new_discount), new_discount_path, :class => 'btn btn-primary pull-right' if can? :create, Discount %>
</div>

<a class="btn btn-link" data-target="#discount-search-form" data-toggle="collapse"><%= t(:view_search) %></a>
<div id="discount-search-form" class="collapse in">
  <%= form_tag discounts_path, :method => 'get', :id => "discounts_search", :class => 'form-horizontal' do %>
    <div class="control-group">
      <%= label_tag :discount_token, t('discount_num'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :discount_token, params[:discount_token], class: 'control' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :name, t('name'), class: 'control-label' %>
      <div class="controls form-inline">
        <%= text_field_tag :name, params[:name], class: 'control' %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t(:search), class: 'btn btn-primary' %>
      <% if params[:name].present? && @discounts.exists? %>
        <%= link_to t(:export), discounts_path(format: :csv, name: params[:name]), :class => 'btn btn-info' if can? :create, Discount %>
      <% end %> 
    </div>
  <% end %>
</div>

<%= paginate @discounts %>
<p><strong><%= t('total', count: @discounts.count )%></strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:discount_num) %></th>
      <th><%= t(:discount_name) %></th>
      <th><%= t(:final_price) %></th>
      <th><%= t(:discount) %></th>
      <th><%= t(:discount_percent) %></th>
      <th><%= t(:expire_date) %></th>
      <th><%= t(:available_times) %></th>
      <th><%= t(:total_times) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= link_to discount.token, discount_path(discount) %></td>
        <td><%= link_to discount.name, discount_path(discount) %></td>
        <td><%= humanized_money_with_symbol discount.final_price %></td>
        <td><%= humanized_money_with_symbol discount.discount %></td>
        <td><%= discount.percent %>%</td>
        <% if discount.expire_date < Date.today %>
        <td class="text-error"><%= t(:discount_expired, s: (l discount.expire_date ) ) %></td>
        <% else %>
        <td><%= l discount.expire_date %></td>
        <% end %>
        <td><%= discount.times - discount.orders.count %></td>
        <td><%= discount.times %></td>
        <td>
          <%= link_to t('edit'),
                      edit_discount_path(discount), :class => 'btn btn-mini' if can? :update, discount %>
          <%= link_to t('destroy'),
                      discount_path(discount),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if can? :destroy, discount %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @discounts %>
<p><strong><%= t('total', count: @discounts.count )%></strong></p>
