<%- model_class = Discount -%>
<div class="page-header">
  <h1><%= t :discount %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t(:discount_num) %>:</strong></dt>
  <dd><%= @discount.token %></dd>
  <dt><strong><%= t(:discount_name) %>:</strong></dt>
  <dd><%= @discount.name %></dd>
  <dt><strong><%= t(:final_price) %>:</strong></dt>
  <dd><%= @discount.final_price %></dd>
  <dt><strong><%= t(:discount) %>:</strong></dt>
  <dd><%= @discount.discount %></dd>
  <dt><strong><%= t(:discount_percent) %>:</strong></dt>
  <dd><%= @discount.percent %></dd>
  <dt><strong><%= t(:expire_date) %>:</strong></dt>
  <dd>
    <% if @discount.expire_date < Date.today %>
      <span class="text-error"><%= t(:discount_expired, s: (l @discount.expire_date ) ) %></span>
    <% else %>
      <%= l @discount.expire_date %>
    <% end %>
  </dd>
  <dt><strong><%= t(:service_types) %>:</strong></dt>
  <dd>
    <% if @discount.service_types.blank? %>
      <span ><%= t(:all) %></span>
    <% else %>
      <%= @discount.service_types.map{|s| s.name}.join(',') %>
    <% end %>
  </dd>
  
</dl>

<% if @discount.orders.exists? %>
<h5><%= t(:orders) %></h5>
<table>
  <tr>
      <th><%= t(:order_id) %></th>
      <th><%= t(:car_number) %></th>
      <th><%= t(:phone_num) %></th>
    </tr>
  </thead>
  <tbody>
    <% @discount.orders.each do |o| %>
      <tr>
        <td><%= link_to o.seq, o, :class => 'btn btn-link' %></td>
        <td><%= o.car_location+ o.car_num %></td>
        <td><%= o.phone_num %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="form-actions">
  <%= link_to t('back'),
              discounts_path, :class => 'btn'  %>
  <%= link_to t('edit'),
              edit_discount_path(@discount), :class => 'btn' if can? :update, @discount %>
  <%= link_to t('destroy'),
              discount_path(@discount),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :destroy, @discount %>
</div>
