<%= simple_form_for @auto_brand, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t('name') %>
  <%= f.association :auto_models, collection: @auto_brand.auto_models, label: t('auto_model_list') %>
  <div class="form-actions">
    <%= f.button :submit, t('save'), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                auto_brands_path, :class => 'btn' %>
  </div>
<% end %>
