<%- model_class = AutoBrand -%>
<div class="page-header">
  <h1><%= @auto_brand.name %></h1>
</div>

<h3><%=t 'auto_models_list' %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @auto_brand.auto_models.each do |auto_model| %>
      <tr>
        <td><%= link_to auto_model.name, auto_model_path(auto_model) %></td>
        <td>
          <%= link_to t('show', :default => t("helpers.links.show")),
                      auto_model_path(auto_model), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              auto_brands_path, :class => 'btn'  %>
</div>
