<%= simple_nested_form_for @city, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: t('city_name') %>
  <%= f.input :area_code, label: t('area_code') %>
  <%= f.input :order_capacity, label: t(:order_capacity), :as => :numeric, input_html: {min: "1", max: "9999", required: '', "data-msg-required" => t(:order_capacity_required) }, placeholder: t(:order_capacity_placeholder) %>
  <table>
    <tbody>
      <%= f.fields_for :districts do |sf| %>
      <tr>
        <td><%= sf.input :name, label: t('district_name')%></td>
        <td><%= sf.link_to_remove t('remove_district') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= f.link_to_add t('add_district'), :districts %></p>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cities_path, :class => 'btn' %>
  </div>
<% end %>
