<%- model_class = City -%>
<div class="page-header">
  <h1><%=t 'cities_title' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:order_capacity) %></th>
      <th><%= t(:serving_orders_today) %></th>
      <th><%= t(:serve_done_orders_today) %></th>
      <th><%= t(:actions) %></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.name, city_path(city) %></td>
        <td><%= city.order_capacity %></td>
        <td><%= Order.within_datetime_range([0,2,3,4], Date.today.beginning_of_day, Date.today.end_of_day, city).count %></td>
        <td><%= Order.within_datetime_range([5,6,7], Date.today.beginning_of_day, Date.today.end_of_day, city).count %></td>
        <td>
          <%= link_to t('serve_area'), city_mgmt_console_path(city), :class => 'btn' if can? :update, city %>
          <%= link_to t('edit'), edit_city_path(city), :class => 'btn' if can? :update, city %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('new_city'),
            new_city_path,
            :class => 'btn btn-primary' if can? :create, City %>