<%- model_class = City -%>
<div class="page-header">
  <h1><%= @city.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t(:name) %>:</strong></dt>
  <dd><%= @city.name %></dd>
  <dt><strong><%= t(:area_code) %>:</strong></dt>
  <dd><%= @city.area_code %></dd>
  <dt><strong><%= t(:opened) %>:</strong></dt>
  <dd><%= @city.opened ? t(:shi) : t(:fou) %></dd>
  <dt><strong><%= t(:order_capacity) %>:</strong></dt>
  <dd><%= @city.order_capacity %></dd>
  <dt><strong><%= t(:parent_city) %>:</strong></dt>
  <dd><%= @city.parent.try(:name) || @city.name %></dd>
  <% if @city.child_cities.exists? %>
    <dt><strong><%= t(:child_cities) %>:</strong></dt>
    <% @city.child_cities.each do |d| %>
    <dd><%=  d.name %></dd>
    <% end %>
  <% end %>
  
  <dt><strong><%= t(:district) %>:</strong></dt>
  <% @city.districts.each do |d| %>
  <dd><%=  d.name %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('back'),
              cities_path, :class => 'btn'  %>
  <%= link_to t('edit'),
              edit_city_path(@city), :class => 'btn' %>
</div>
