<%- model_class = PartType -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'part_type_name' %></th>
      <th><%= t 'unit' %></th>
    </tr>
  </thead>
  <tbody>
    <% @part_types.each do |part_type| %>
      <tr>
        <td><%= part_type.name %></td>
        <td><%= part_type.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new_part_type'),
            new_part_type_path,
            :class => 'btn btn-primary' if can? :create, PartType %>
