<%- model_class = PartType -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'part_type_name' %></th>
      <th><%= t 'unit' %></th>
      <th><%= t 'actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @part_types.each do |part_type| %>
      <tr>
        <td><%= part_type.name %></td>
        <td><%= part_type.unit %></td>
        <td>
          <%= link_to t('edit'),
                      edit_part_type_path(part_type), :class => 'btn btn-mini' if can? :update, part_type %>
          <%= link_to t('destroy'),
                      part_type_path(part_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' if can? :destroy, part_type %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('new_part_type'),
            new_part_type_path,
            :class => 'btn btn-primary' if can? :create, PartType %>
