<body class="no-padding">
  <div id="fixed-top" class="sb-slide">
    <% if current_user %>
    <div class="sb-toggle-left">
      <a class="btn btn-inverse"><i class="icon-tasks">&nbsp</i><%= t('admin.misc.navigation') %></a>
    </div>
    <div class="btn-group pull-right">
      <a type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
        <span id="user_state"><%= t(User::STATE_STRINGS[current_user.state]) %>&nbsp<i class="icon-chevron-down"></i></span>
      </a>
      <ul class="dropdown-menu" id="user_state_id">
        <% (0..2).each do |s|%>
          <li><%= link_to t(User::STATE_STRINGS[s]), "#", {:id => 'user_set_state_' + s.to_s }%></li>
        <% end %>
      </ul>
    </div>
    <a type="button" class="btn btn-inverse pull-right">
      <%= t(:welcome_user, n: current_user.role_str + ' ' + current_user.name ) %></i>
    </a>
    <% end %>
  </div>
  <div id="sb-site" class="top-padding">
    <div class="container-fluid">
      <div class="row-fluid">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="sb-slidebar sb-left">
    <nav>
      <ul class="sb-menu">
        <li class="sb-toggle-left"><h3>Kalading</h3></li>
          <li><%= link_to t('order_menu'), orders_path %></li>
          <li><%= link_to t('repository_menu'), storehouses_path if can? :read, Storehouse %></li>
          <li><%= link_to t('auto_menu'), auto_submodels_path if can? :read, AutoSubmodel %></li>
          <li><%= link_to t('cities'), cities_path if can? :read, City %></li>
          <li><%= link_to t('order_stats'), order_stats_path(:disable_sidebar => 1) if can? :order_stats, Order %></li>
          <li><%= link_to t('valid_order_stats'), order_stats_path(:disable_sidebar => 1, :all => 1) if can? :order_stats, Order %></li>
          <li><%= link_to t('complaint_menu'), complaints_path if can? :read, Complaint %></li>
          <li><%= link_to t('employees_menu'), users_path if can? :read, User %></li>
          <li><%= link_to t('service_types'), service_types_path if can? :read, ServiceType %></li>
          <li><%= link_to t('discount_card'), discounts_path if can? :read, Discount %></li>
          <li><%= link_to t('user_type'), user_types_path if can? :update, UserType %></li>
          <li><%= link_to t('engineer_menu'), engineers_path if can? :view, Engineer %></li>
          <li><%= link_to t('video_menu'), videos_path if can? :view, Video %></li>
          <li><%= link_to t('notifications'), notifications_path if can? :read, Engineer %></li>
          <li><%= link_to t(:jishiapp_download) + ' V1.' + (s = Rails.root.join('public', 'system', 'kaladingapp.apk.version'); File.exists?(s) ? File.open(s, 'r').gets : '?' ), '/system/kaladingapp.apk' %></li>
          <li><%= link_to t('log_out'), destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to t(:edit_account), edit_user_registration_path %></li>
      </ul>
    </nav>
  </div>
  <script type="text/javascript">
    $(function() {
      $.slidebars();
    });
  </script>
  <footer>
    <p>&copy; Kalading 2013-2015</p>
  </footer>
  <div id="modal-window" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true" style=""></div>
</body>
