<!DOCTYPE html>
<html lang="zh-CN">
  <% if params[:action] == 'edit_with_catalog' %>
    <%= bootstrap_flash %>
    <%= yield %>
  <% else %>
    <%= render '/layouts/header' %>
    <body>
      <%= render '/layouts/menu' %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"></li>
                <li><%= link_to t('autos'), autos_path %></li>
                <% if [3,4].include?(@ds) ||params[:sanlv_ready] || params[:motoroil_cap] || params[:oilf_soldout] || params[:airf_soldout] || params[:cabinf_soldout] || params[:part_rule_exists] || params[:motoroil_not_set] %>
                  <li><%= link_to t('auto_submodels', n: AutoSubmodel.where(data_source: 2).count), auto_submodels_path %></li>
                <% else %>
                  <li class="active"><%= link_to t('auto_submodels', n: AutoSubmodel.where(data_source: 2).count ), auto_submodels_path %></li>
                <% end %>
                <li><%= link_to t('auto_models'), auto_models_path %></li>
                <li><%= link_to t('auto_brands'), auto_brands_path  %></li>
                <% if @ds == 3 %>
                  <li class="active"><%= link_to t('pending_auto_submodels_list', n: AutoSubmodel.where(data_source: 3).count ), auto_submodels_path(data_source: 3) %></li>
                <% else %>
                  <li><%= link_to t('pending_auto_submodels_list', n: AutoSubmodel.where(data_source: 3).count ), auto_submodels_path(data_source: 3) %></li>
                <% end %>
                
                <% if params[:motoroil_cap] %>
                  <li class="active"><%= link_to t('oil_nil_submodels', n: AutoSubmodel.where(data_source: 2, motoroil_cap: 5).count), auto_submodels_path(motoroil_cap: 5) %></li>
                <% else %>
                  <li><%= link_to t('oil_nil_submodels', n: AutoSubmodel.where(data_source: 2, motoroil_cap: 5).count), auto_submodels_path(motoroil_cap: 5) %></li>
                <% end %>
                
                <% if params[:sanlv_ready] %>
                  <li class="active"><%= link_to t('sanlv_ready_auto_submodels', n: AutoSubmodel.where(data_source: 2, service_level: 1).where(:oil_filter_count.gt => 0, :air_filter_count.gt => 0, :cabin_filter_count.gt => 0).count), auto_submodels_path(sanlv_ready: 3) %></li>
                <% else %>
                  <li><%= link_to t('sanlv_ready_auto_submodels', n: AutoSubmodel.where(data_source: 2, service_level: 1).where(:oil_filter_count.gt => 0, :air_filter_count.gt => 0, :cabin_filter_count.gt => 0).count), auto_submodels_path(sanlv_ready: 3) %></li>
                <% end %>
                
                <% if params[:oilf_soldout] %>
                  <li class="active"><%= link_to t('oilf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count => 0, :air_filter_count.gt => 0, :cabin_filter_count.gt => 0).count ), auto_submodels_path(oilf_soldout: 1) %></li>
                <% else %>
                  <li><%= link_to t('oilf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count => 0, :air_filter_count.gt => 0, :cabin_filter_count.gt => 0).count ), auto_submodels_path(oilf_soldout: 1) %></li>
                <% end %>

                <% if params[:airf_soldout] %>
                  <li class="active"><%= link_to t('airf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count.gt => 0, :air_filter_count => 0, :cabin_filter_count.gt => 0).count ), auto_submodels_path(airf_soldout: 1) %></li>
                <% else %>
                  <li><%= link_to t('airf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count.gt => 0, :air_filter_count => 0, :cabin_filter_count.gt => 0).count ), auto_submodels_path(airf_soldout: 1) %></li>
                <% end %>

                <% if params[:cabinf_soldout] %>
                  <li class="active"><%= link_to t('cabinf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count.gt => 0, :air_filter_count.gt => 0, :cabin_filter_count => 0).count ), auto_submodels_path(cabinf_soldout: 1) %></li>
                <% else %>
                  <li><%= link_to t('cabinf_soldout_auto_submodels', n: AutoSubmodel.where(data_source: 2).where(:oil_filter_count.gt => 0, :air_filter_count.gt => 0, :cabin_filter_count => 0).count ), auto_submodels_path(cabinf_soldout: 1) %></li>
                <% end %>

                <% if @ds == 4 %>
                  <li class="active"><%= link_to t('hidden_submodels', n: AutoSubmodel.where(data_source: 4).count ), auto_submodels_path(data_source: 4) %></li>
                <% else %>
                  <li><%= link_to t('hidden_submodels', n: AutoSubmodel.where(data_source: 4).count ), auto_submodels_path(data_source: 4) %></li>
                <% end %>
                
                <% if params[:part_rule_exists] %>
                  <li class="active"><%= link_to t('part_rule_exists_auto_submodels', n: AutoSubmodel.where(data_source: 2).not_in(part_rules: [nil, []]).count ), auto_submodels_path(part_rule_exists: 1) %></li>
                <% else %>
                  <li><%= link_to t('part_rule_exists_auto_submodels', n: AutoSubmodel.where(data_source: 2).not_in(part_rules: [nil, []]).count ), auto_submodels_path(part_rule_exists: 1) %></li>
                <% end %>

                <% if params[:motoroil_not_set] %>
                  <li class="active"><%= link_to t('motoroil_not_set_asms', n: AutoSubmodel.where(data_source: 2, motoroil_group: nil).count ), auto_submodels_path(motoroil_not_set: 1) %></li>
                <% else %>
                  <li><%= link_to t('motoroil_not_set_asms', n: AutoSubmodel.where(data_source: 2, motoroil_group: nil).count ), auto_submodels_path(motoroil_not_set: 1) %></li>
                <% end %>

                <li><%= link_to t('motoroil_group_list'), motoroil_groups_path %></li>

              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
  
        <footer>
          <p>&copy; Kalading 2013</p>
        </footer>
  
      </div> <!-- /container -->
  
    </body>
  <% end %>
</html>
