<!DOCTYPE html>
<html>
<head>
  <title>Kalading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "mobile/application.mobile.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "mobile/application.mobile.js" %>
  <%= yield %>

  <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1 id="popup-header-text"></h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
      <p id="popup-text"></p>
      <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b"><%= t(:ok) %></a>
    </div>
  </div>
</body>
</html>
