<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kalading" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kalading</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to t('repository_menu'), storehouses_path  %></li>
              <li><%= link_to t('auto_menu'), auto_submodels_path  %></li>
              <li class="active"><%= link_to t('order_menu'), orders_path  %></li>
              <li><%= link_to t('customer_menu'), users_path  %></li>
              <li><%= link_to t('user_menu'), users_path  %></li>
              <li>
                <div class="btn-group">
                  <a class="btn btn-link btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><%= t :others %><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to t('service_types'), service_types_path %></li>
                    <li><%= link_to t('discount_card'), discounts_path %></li>
                  </ul>
                </div>
              </li>
            </ul>
            <%= link_to t('log_out'), destroy_user_session_path, :method => :delete, :class => 'btn btn-info btn-small pull-right'  %></li>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <% Order::STATES.each do |s| %>
                <% if params[:state] && params[:state].to_i == s %>
                  <li class="active"><%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).count.to_s + ')', orders_path(state: s) %></li>
                <% else %>
                  <li><%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).count.to_s + ')', orders_path(state: s) %></li>
                <% end %>
              <% end %>

              <% if !params[:state] %>
                <li class="active"><%= link_to t(:all) + ' (' + Order.count.to_s + ')', orders_path %></li>
              <% else %>
                <li><%= link_to t(:all) + ' (' + Order.count.to_s + ')', orders_path %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Kalading 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
