<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body>
    <%= render '/layouts/menu' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <% if mobile_device? %>
        <% else %>
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <% Order::STATES.each do |s| %>
                <% if params[:state].present? && params[:state].to_i == s %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <% if can? :edit_all, Order %>
                    <% if Order::STATE_STRINGS[s] == 'serve_done' %>
                      <%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s, part_deliver_state: 2).count.to_s + ')', orders_path(state: s, part_deliver_state: 2) %>
                     <% else %>
                      <%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).count.to_s + ')', orders_path(state: s) %>
                    <% end %>
                    <% if Order::STATE_STRINGS[s] == 'unverified' %>
                      <ul class="nav nav-list">
                        <% if params[:normal].present? && params[:normal] == 'true' %>
                        <li class="active">
                        <% else %>
                        <li>
                        <% end %>
                          <%= link_to t(:normal_order) + ' (' + Order.where(state: s, :name.ne => '').count.to_s + ')', orders_path(state: s, normal: true) %>
                        </li>
                        <% if params[:normal].present? && params[:normal] == 'false' %>
                        <li class="active">
                        <% else %>
                        <li>
                        <% end %>
                          <%= link_to t(:activities_order) + ' (' + Order.where(state: s, :name => '').count.to_s + ')', orders_path(state: s, normal: false) %>
                        </li>
                      </ul>
                    <% end %>
                    <% if Order::STATE_STRINGS[s] == 'cancel_pending' %>
                      <ul class="nav nav-list">
                        <% Order::CANCEL_TYPES.reverse_each do |t| %>
                          <% if params[:cancel_type].present? && params[:cancel_type].to_i == t %>
                          <li class="active">
                          <% else %>
                          <li>
                          <% end %>
                            <%= link_to t(Order::CANCEL_TYPE_STRINGS[t]) + ' (' + Order.where(state: s, cancel_type: t).count.to_s + ')', orders_path(state: s, cancel_type: t) %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% else %>
                    <% if Order::STATE_STRINGS[s] == 'serve_done' %>
                      <%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s, part_deliver_state: 2).where(engineer: current_user).count.to_s + ')', orders_path(state: s, part_deliver_state: 2) %>
                    <% else %>
                      <%= link_to t(Order::STATE_STRINGS[s]) + ' (' + Order.where(state: s).where(engineer: current_user).count.to_s + ')', orders_path(state: s) %>
                    <% end %>
                  <% end %>
                  </li>
              <% end %>
              <% if params[:state].present? %>
                <li>
              <% else %>
                <li class="active">
              <% end %>
                  <% if can? :edit_all, Order %>
                    <%= link_to t(:all) + ' (' + Order.count.to_s + ')', orders_path %>
                  <% else %>
                    <%= link_to t(:all) + ' (' + Order.where(engineer: current_user).count.to_s + ')', orders_path %>
                  <% end %>
                </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      <% end %>
        <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Kalading 2013</p>
      </footer>

    </div> <!-- /container -->
    <%= render 'orders/prompt', states: [0, 10], part_deliver_state: nil if can? :edit_all, Order%>
  </body>
</html>
