<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body>
    <%= render '/layouts/menu' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li class="active"><%= link_to t('service_types'), service_types_path %></li>
              <li><%= link_to t('discount_card'), discounts_path if can? :update, Discount %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Kalading 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
