<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body style="">
    <%= render '/layouts/menu' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <% if @city %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
                <%= link_to t(:part_requirement), city_part_requirements_path(city: current_user.city, start_date: Date.today, end_date: Date.today.since(7.days).to_date) %>
              </li>
              <% unless ( @storehouse || @orders || @city) %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
                <%= link_to t('storehouses'), storehouses_path %>
                <% storehouses = current_user.roles.include?('3') ? Storehouse.where(city: current_user.city) : Storehouse.all%>
                <ul class="nav nav-list">
                  <% storehouses.where(:type => Storehouse::WAREHOUSE).each do |sh| %>
                    <li class="<%= @storehouse == sh ? 'active' : ''%>">
                      <%= link_to sh.name, storehouse_path(sh) %>
                    </li>
                  <% end %>
                  <% storehouses.where(:type => Storehouse::DEPOT_CENTRE).each do |sh| %>
                    <li class="<%= @storehouse == sh ? 'active' : ''%>">
                      <%= link_to sh.name, storehouse_path(sh) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to t('part_stock'), parts_path %></li>
              <li><%= link_to t('part_types'), part_types_path %></li>
              <li><%= link_to t('part_brands'), part_brands_path %></li>
              <li><%= link_to t('supplier'), suppliers_path if !current_user.roles.include?('3') %></li>
              <% orders = (current_user.storehouse_admin? && current_user.city.serve_orders) || Order.all %>
              <% if @orders && params[:part_deliver_state].to_i == 0 %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
                <%= link_to t('to_be_delivered_orders', n: orders.to_be_delivered.count), orders_path(Order.to_be_delivered_hash) %>
              </li>

              <% if @orders && params[:part_deliver_state].to_i == 1 %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
                <%= link_to t('to_be_backed_orders', n: orders.to_be_backed.count), orders_path(Order.to_be_backed_hash) %>
              </li>
              <li>
                <%= link_to t('part_transfers'), part_transfers_path %>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Kalading 2013</p>
      </footer>

    </div> <!-- /container -->
    <% if params[:states] %>
      <%= render 'orders/prompt', states: params[:states], part_deliver_state: params[:part_deliver_state] %>
    <% end %>
    <div id="modal-window" class="modal hide" role="dialog" aria-labelledby="modal-label" aria-hidden="true"></div>
  </body>
</html>
