<!DOCTYPE html>
<html lang="zh-CN">
  <%= render '/layouts/header' %>
  <body>
    <%= render '/layouts/menu' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <% unless ( @storehouse || @orders ) %>
              <li class="active">
              <% else %>
              <li>
              <% end %>
                <%= link_to t('storehouses'), storehouses_path %>
                <ul class="nav nav-list">
                  <% Storehouse.all.each do |sh| %>
                    <% if @storehouse == sh %>
                    <li class="active">
                    <% else %>
                    <li>
                    <% end %>
                    <%= link_to sh.name, storehouse_path(sh) %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to t('part_stock'), parts_path %></li>
              <li><%= link_to t('part_types'), part_types_path %></li>
              <li><%= link_to t('part_brands'), part_brands_path %></li>
              <li><%= link_to t('supplier'), suppliers_path %></li>
              <% if @orders && params[:state].to_i == 4 && params[:part_deliver_state].to_i == 0 %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                  <%= link_to t('to_be_delivered_orders', n: Order.where(state: 4, part_deliver_state: 0).count), orders_path(state: 4, part_deliver_state: 0) %>
                </li>

              <% if @orders && params[:state].to_i == 5 && params[:part_deliver_state].to_i == 1 %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                  <%= link_to t('to_be_backed_orders', n: Order.where(state: 5, part_deliver_state: 1).count), orders_path(state: 5, part_deliver_state: 1) %>
                </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Kalading 2013</p>
      </footer>

    </div> <!-- /container -->
    <%= render 'orders/prompt', state: 4, part_deliver_state: 0 %>
  </body>
</html>
